In [2]:
import numpy as np
import pandas as pd
from haversine import haversine
from tqdm.notebook import tqdm

# 세탁소

In [269]:
laundry = pd.read_csv('data/세탁소.csv')   # 수정 대상 대이터
laundry

              상호명                             도로명주소         위도          경도
0              일광       서울특별시 광진구 구의강변로3길 19, (구의동)  37.535831  127.091040
1           로얄크리닝         서울특별시 관악구 양녕로2길 22, (봉천동)  37.483219  126.947841
2            신안세탁   서울특별시 중랑구 공릉로2라길 15, (묵동, 신안1차)  37.612858  127.081314
3              제일       서울특별시 성북구 화랑로22가길 42, (석관동)  37.607380  127.052874
4      크린토피아성내진주점  서울특별시 송파구 올림픽로 399, (신천동, 진주아파트)  37.518731  127.110275
...           ...                               ...        ...         ...
5371  더런드리셀프빨래방석촌      서울특별시 송파구 백제고분로34길 34, (석촌동)  37.499424  127.098652
5372        타워세탁소        서울특별시 관악구 신림로28길 27, (신림동)  37.472699  126.935281
5373          세탁소         서울특별시 종로구 사직로8길 31, (내자동)  37.574870  126.971968
5374           그린    서울특별시 동대문구 서울시립대로16길 16, (전농동)  37.579718  127.051685
5375        크린토피아       서울특별시 강동구 천호대로185길 89, (길동)  37.538005  127.142001

[5376 rows x 4 columns]

In [191]:
laundry = laundry.drop(columns='Unnamed: 0')
laundry

              상호명                             도로명주소         위도          경도
0              일광       서울특별시 광진구 구의강변로3길 19, (구의동)  37.535831  127.091040
1           로얄크리닝         서울특별시 관악구 양녕로2길 22, (봉천동)  37.483219  126.947841
2            신안세탁   서울특별시 중랑구 공릉로2라길 15, (묵동, 신안1차)  37.612858  127.081314
3              제일       서울특별시 성북구 화랑로22가길 42, (석관동)  37.607380  127.052874
4      크린토피아성내진주점  서울특별시 송파구 올림픽로 399, (신천동, 진주아파트)  37.518731  127.110275
...           ...                               ...        ...         ...
5311  더런드리셀프빨래방석촌      서울특별시 송파구 백제고분로34길 34, (석촌동)  37.499424  127.098652
5312        타워세탁소        서울특별시 관악구 신림로28길 27, (신림동)  37.472699  126.935281
5313          세탁소         서울특별시 종로구 사직로8길 31, (내자동)  37.574870  126.971968
5314           그린    서울특별시 동대문구 서울시립대로16길 16, (전농동)  37.579718  127.051685
5315        크린토피아       서울특별시 강동구 천호대로185길 89, (길동)  37.538005  127.142001

[5316 rows x 4 columns]

In [4]:
# 거리계산 후 데이터
data = pd.read_csv('data/단독다가구_편의시설_세탁소.csv')
data

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
0,논현로6길,37.473561,127.050895,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631,37.4735609971211127.050895232485
1,논현로6길,37.473561,127.050895,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090,37.4735609971211127.050895232485
2,논현로6길,37.473561,127.050895,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922,37.4735609971211127.050895232485
3,논현로6길,37.473561,127.050895,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157,37.4735609971211127.050895232485
4,논현로6길,37.473561,127.050895,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091,37.4735609971211127.050895232485
...,...,...,...,...,...,...,...,...
61627,동일로134길,37.600981,127.080509,동아세탁소,"서울특별시 중랑구 동일로130길 52, (중화동)",37.600166,127.082942,37.6009811871792127.080509377973
61628,동일로134길,37.600981,127.080509,백두산세탁소,"서울특별시 중랑구 동일로136길 25, (중화동)",37.602574,127.080817,37.6009811871792127.080509377973
61629,동일로134길,37.600981,127.080509,금성사,"서울특별시 중랑구 동일로130길 19, (중화동)",37.599828,127.081100,37.6009811871792127.080509377973
61630,동일로134길,37.600981,127.080509,부흥사,"서울특별시 중랑구 봉화산로21길 14-7, (중화동)",37.602576,127.082324,37.6009811871792127.080509377973
61631,동일로134길,37.600981,127.080509,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136,37.6009811871792127.080509377973

In [5]:
# 거리계산 후 개수 데이터
data_cnt = pd.read_csv('data/단독다가구_편의시설추가_v0.csv')
data_cnt

           도로명         위도          경도  세탁소_cnt
0        논현로6길  37.473561  127.050895        8
1       논현로18길  37.477885  127.046338        4
2       개포로20길  37.477040  127.048356        6
3       선릉로12길  37.483899  127.060991        4
4        논현로8길  37.474467  127.051458        9
...        ...        ...         ...      ...
12337    종로46길  37.570724  127.010477        3
12338    평창42길  37.613282  126.979078        2
12339   종로35가길  37.571897  127.004875        2
12340   삼일대로6길  37.562391  126.989648        1
12341  동일로134길  37.600981  127.080509        6

[12342 rows x 4 columns]

In [6]:
data_cnt['세탁소_cnt'].value_counts().sort_index()

0      772
1      738
2     1230
3     1561
4     1656
5     1560
6     1322
7     1073
8      794
9      566
10     378
11     258
12     169
13     108
14      67
15      43
16      15
17      22
18       5
19       3
21       1
23       1
Name: 세탁소_cnt, dtype: int64

In [237]:
data_cnt[data_cnt['세탁소_cnt'] == 15]

              도로명         위도          경도  세탁소_cnt
165        삼성로75길  37.503035  127.056092       15
176        역삼로63길  37.502012  127.052235       15
177        역삼로77길  37.503351  127.056298       15
185        역삼로65길  37.502463  127.052466       15
203        삼성로70길  37.501932  127.060238       15
370        역삼로14길  37.493866  127.035499       15
774       고덕로14가길  37.554363  127.132612       15
781       고덕로24나길  37.552695  127.136098       15
802       고덕로20라길  37.552533  127.134482       15
903       구천면로60길  37.549293  127.137846       15
1922       화곡로52길  37.549904  126.849772       15
2040         청룡5길  37.480275  126.946768       15
2068   남부순환로246라길  37.474473  126.964633       15
2069      낙성대역16길  37.472977  126.964721       15
2127   남부순환로246가길  37.475333  126.964931       15
2146        인헌15길  37.471464  126.968139       15
2743      광나루로40길  37.542651  127.089111       15
2754        구의로9길  37.542195  127.088773       15
2775       구의로10길  37.542146  127.090634       15
2782       자양로53길  37.555566  127.091285       15
2902       능동로30길  37.553674  127.078969       15
3069     천호대로109길  37.558647  127.081712       15
3072       용마산로2길  37.555269  127.090070       15
3125       능동로42길  37.558931  127.082995       15
3132     천호대로113길  37.557998  127.083467       15
3157       영화사로5길  37.557098  127.092107       15
3173      긴고랑로35길  37.559734  127.088368       15
3205        군자로5길  37.545173  127.069947       15
3459      구로동로14길  37.488825  126.885722       15
3689     시흥대로84가길  37.461211  126.900875       15
4757      장한로27가길  37.574928  127.071156       15
4779       장한로23길  37.571221  127.070130       15
4794       장한로25길  37.571814  127.069778       15
6719       방배로31길  37.490290  126.989588       15
7049      강남대로93길  37.512674  127.019415       15
7057      신반포로49길  37.511387  127.020173       15
7080        무수막5길  37.550192  127.023685       15
7090       무수막5가길  37.550192  127.023685       15
8334     백제고분로23길  37.505433  127.091608       15
8341     백제고분로25길  37.505337  127.092050       15
8342       삼전로10길  37.504963  127.093217       15
8348       삼전로12길  37.506382  127.090955       15
11744         삼전로  37.504963  127.093217       15

In [262]:
data[data['도로명'] == '백제고분로23길']     # 카카오맵에서 확인

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
44780,백제고분로23길,37.505433,127.091608,크린토피아,"서울특별시 송파구 백제고분로21길 16-4, (삼전동)",37.505218,127.090518,37.5054331913343127.09160831640301
44781,백제고분로23길,37.505433,127.091608,한양세탁,"서울특별시 송파구 백제고분로27길 5, (삼전동)",37.503666,127.092561,37.5054331913343127.09160831640301
44782,백제고분로23길,37.505433,127.091608,삼전세탁소,"서울특별시 송파구 백제고분로25길 30, (삼전동)",37.506342,127.092608,37.5054331913343127.09160831640301
44783,백제고분로23길,37.505433,127.091608,신천세탁,"서울특별시 송파구 백제고분로27길 24, (삼전동)",37.505160,127.093493,37.5054331913343127.09160831640301
44784,백제고분로23길,37.505433,127.091608,레이크명품세탁,"서울특별시 송파구 잠실로 88, (잠실동)",37.507548,127.092390,37.5054331913343127.09160831640301
44785,백제고분로23길,37.505433,127.091608,백양세탁,"서울특별시 송파구 삼전로8길 10, (삼전동)",37.504979,127.089933,37.5054331913343127.09160831640301
44786,백제고분로23길,37.505433,127.091608,크린위드,"서울특별시 송파구 잠실로 88, (잠실동)",37.507548,127.092390,37.5054331913343127.09160831640301
44787,백제고분로23길,37.505433,127.091608,백양세탁소,"서울특별시 송파구 백제고분로27길 32, (삼전동)",37.505829,127.093858,37.5054331913343127.09160831640301
44788,백제고분로23길,37.505433,127.091608,월드크리닝,"서울특별시 송파구 백제고분로27길 39-6, (삼전동)",37.506702,127.093701,37.5054331913343127.09160831640301
44789,백제고분로23길,37.505433,127.091608,뉴월드사,"서울특별시 송파구 백제고분로23길 30, (삼전동)",37.506447,127.092188,37.5054331913343127.09160831640301
44790,백제고분로23길,37.505433,127.091608,크린토피아,"서울특별시 송파구 백제고분로21길 16, (삼전동)",37.505253,127.090382,37.5054331913343127.09160831640301
44791,백제고분로23길,37.505433,127.091608,믿음사세탁,서울특별시 송파구 백제고분로28길 6-21,37.502843,127.091033,37.5054331913343127.09160831640301
44792,백제고분로23길,37.505433,127.091608,코인워시24시,"서울특별시 송파구 백제고분로21길 9, (삼전동)",37.504843,127.089810,37.5054331913343127.09160831640301
44793,백제고분로23길,37.505433,127.091608,크린위드,서울특별시 송파구 잠실로 88,37.507527,127.093193,37.5054331913343127.09160831640301
44794,백제고분로23길,37.505433,127.091608,워커힐세탁,서울특별시 송파구 잠실로 88,37.507527,127.093193,37.5054331913343127.09160831640301

In [247]:
data.iloc[[38894,38895,38896,38897,38898,38903,38904,38905,38906,38907]]

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
38894,무수막5길,37.550192,127.023685,백양사,"서울특별시 성동구 금호산2길 25-1, (금호동3가)",37.548944,127.022583,37.5501920702857127.023684502162
38895,무수막5길,37.550192,127.023685,거북사,"서울특별시 성동구 무수막길 64, (금호동2가)",37.551646,127.021325,37.5501920702857127.023684502162
38896,무수막5길,37.550192,127.023685,정훈호텔전문세탁,"서울특별시 성동구 금호로 105, (금호동2가)",37.552260,127.024746,37.5501920702857127.023684502162
38897,무수막5길,37.550192,127.023685,백은사,"서울특별시 성동구 독서당로51길 26, (금호동1가)",37.550283,127.026504,37.5501920702857127.023684502162
38898,무수막5길,37.550192,127.023685,운동화손세탁이불,"서울특별시 성동구 독서당로 303-11, (금호동3가)",37.548549,127.022712,37.5501920702857127.023684502162
38903,무수막5길,37.550192,127.023685,세탁나라,"서울특별시 성동구 금호로 107, (금호동2가, 래미안하이리버)",37.552220,127.024294,37.5501920702857127.023684502162
38904,무수막5길,37.550192,127.023685,정훈호텔전문세탁,"서울특별시 성동구 금호로 107, (금호동2가, 래미안하이리버)",37.552220,127.024294,37.5501920702857127.023684502162
38905,무수막5길,37.550192,127.023685,백양세탁소,"서울특별시 성동구 금호산2길 25-1, (금호동3가)",37.548944,127.022583,37.5501920702857127.023684502162
38906,무수막5길,37.550192,127.023685,크린토피아금호래미안하이리버점,"서울특별시 성동구 금호로 80-1, (금호동1가)",37.550567,127.025957,37.5501920702857127.023684502162
38907,무수막5길,37.550192,127.023685,햇님세탁소,"서울특별시 성동구 독서당로46길 35, (금호동4가)",37.547768,127.023096,37.5501920702857127.023684502162

In [ ]:
# 확인후, laundry 데이터에서 해당 주소 삭제

In [259]:
laundry[laundry['도로명주소']=='서울특별시 성동구 독서당로46길 35, (금호동4가)']

        상호명                          도로명주소         위도          경도
5179  햇님세탁소  서울특별시 성동구 독서당로46길 35, (금호동4가)  37.547768  127.023096

In [270]:
laundry = laundry.drop(index=[7, 13, 26, 65, 194, 397, 409, 503, 573, 581, 833, 858, 911, 1003, 1035, 1111, 1130, 1213, 1230, 1258, 1261, 1420, 1629, 1800, 1822, 1880, 1887, 1900, 2131, 2331, 2561, 2710, 2942, 2946, 3092, 3150, 3167, 3340, 3341, 3402, 3408, 3428, 3447, 3505, 3660, 3851, 3954, 4012, 4105, 4116, 4117, 4118, 4397, 4456, 4534, 4636, 4783, 5222, 5301, 5341,861,1868,1871,2248,2526,3610,3663,1011,1608,2054,3517,3721,3747,3845,4263,4871,40, 1886, 93, 4855, 5225,156,251,585, 2920,3164,3231,3297,3370,3463,4554,3048,1808,2781,5157,5211,5284,500,515,668,2005,2239,4307,4321,4498,2776,5179])
laundry.shape

(5269, 4)

In [271]:
laundry.to_csv('세탁소_삭제데이터1013.csv')

In [272]:
laundry = pd.read_csv('세탁소_삭제데이터1013.csv')
laundry

,Unnamed: 0,상호명,도로명주소,위도,경도
0,0,일광,"서울특별시 광진구 구의강변로3길 19, (구의동)",37.535831,127.091040
1,1,로얄크리닝,"서울특별시 관악구 양녕로2길 22, (봉천동)",37.483219,126.947841
2,2,신안세탁,"서울특별시 중랑구 공릉로2라길 15, (묵동, 신안1차)",37.612858,127.081314
3,3,제일,"서울특별시 성북구 화랑로22가길 42, (석관동)",37.607380,127.052874
4,4,크린토피아성내진주점,"서울특별시 송파구 올림픽로 399, (신천동, 진주아파트)",37.518731,127.110275
...,...,...,...,...,...
5264,5371,더런드리셀프빨래방석촌,"서울특별시 송파구 백제고분로34길 34, (석촌동)",37.499424,127.098652
5265,5372,타워세탁소,"서울특별시 관악구 신림로28길 27, (신림동)",37.472699,126.935281
5266,5373,세탁소,"서울특별시 종로구 사직로8길 31, (내자동)",37.574870,126.971968
5267,5374,그린,"서울특별시 동대문구 서울시립대로16길 16, (전농동)",37.579718,127.051685
5268,5375,크린토피아,"서울특별시 강동구 천호대로185길 89, (길동)",37.538005,127.142001

삭제한 index
[7, 13, 26, 65, 194, 397, 409, 503, 573, 581, 833, 858, 911, 1003, 1035, 1111, 1130, 1213, 1230, 1258, 1261, 1420, 1629, 1800, 1822, 1880, 1887, 1900, 2131, 2331, 2561, 2710, 2942, 2946, 3092, 3150, 3167, 3340, 3341, 3402, 3408, 3428, 3447, 3505, 3660, 3851, 3954, 4012, 4105, 4116, 4117, 4118, 4397, 4456, 4534, 4636, 4783, 5222, 5301, 5341,861,1868,1871,2248,2526,3610,3663,1011,1608,2054,3517,3721,3747,3845,4263,4871,40, 1886, 93, 4855, 5225,156,251,585, 2920,3164,3231,3297,3370,3463,4554,3048,1808,2781,5157,5211,5284,500,515,668,2005,2239,4307,4321,4498,2776,5179]

## 확인2

In [31]:
laundry = pd.read_csv('data/세탁소.csv')   # 수정 대상 대이터
laundry

              상호명                             도로명주소         위도          경도
0              일광       서울특별시 광진구 구의강변로3길 19, (구의동)  37.535831  127.091040
1           로얄크리닝         서울특별시 관악구 양녕로2길 22, (봉천동)  37.483219  126.947841
2            신안세탁   서울특별시 중랑구 공릉로2라길 15, (묵동, 신안1차)  37.612858  127.081314
3              제일       서울특별시 성북구 화랑로22가길 42, (석관동)  37.607380  127.052874
4      크린토피아성내진주점  서울특별시 송파구 올림픽로 399, (신천동, 진주아파트)  37.518731  127.110275
...           ...                               ...        ...         ...
5264  더런드리셀프빨래방석촌      서울특별시 송파구 백제고분로34길 34, (석촌동)  37.499424  127.098652
5265        타워세탁소        서울특별시 관악구 신림로28길 27, (신림동)  37.472699  126.935281
5266          세탁소         서울특별시 종로구 사직로8길 31, (내자동)  37.574870  126.971968
5267           그린    서울특별시 동대문구 서울시립대로16길 16, (전농동)  37.579718  127.051685
5268        크린토피아       서울특별시 강동구 천호대로185길 89, (길동)  37.538005  127.142001

[5269 rows x 4 columns]

In [32]:
# 거리계산 후 데이터
data = pd.read_csv('data/단독다가구_편의시설_세탁소.csv')
data

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,단독/다가구,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,단독/다가구,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,단독/다가구,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922
3,단독/다가구,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157
4,단독/다가구,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091
...,...,...,...,...,...,...
60048,단독/다가구,37.6009811871792127.080509377973,동아세탁소,"서울특별시 중랑구 동일로130길 52, (중화동)",37.600166,127.082942
60049,단독/다가구,37.6009811871792127.080509377973,백두산세탁소,"서울특별시 중랑구 동일로136길 25, (중화동)",37.602574,127.080817
60050,단독/다가구,37.6009811871792127.080509377973,금성사,"서울특별시 중랑구 동일로130길 19, (중화동)",37.599828,127.081100
60051,단독/다가구,37.6009811871792127.080509377973,부흥사,"서울특별시 중랑구 봉화산로21길 14-7, (중화동)",37.602576,127.082324
60052,단독/다가구,37.6009811871792127.080509377973,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136

In [33]:
# 거리계산 후 개수 데이터
data_cnt = pd.read_csv('data/단독다가구_편의시설추가_v0.csv')
data_cnt

           도로명         위도          경도  세탁소_cnt
0        논현로6길  37.473561  127.050895        8
1       논현로18길  37.477885  127.046338        4
2       개포로20길  37.477040  127.048356        6
3       선릉로12길  37.483899  127.060991        4
4        논현로8길  37.474467  127.051458        9
...        ...        ...         ...      ...
12337    종로46길  37.570724  127.010477        2
12338    평창42길  37.613282  126.979078        2
12339   종로35가길  37.571897  127.004875        2
12340   삼일대로6길  37.562391  126.989648        1
12341  동일로134길  37.600981  127.080509        6

[12342 rows x 4 columns]

In [36]:
data_cnt['위도'] = data_cnt['위도'].astype(str)
data_cnt['경도'] = data_cnt['경도'].astype(str)
data_cnt['lat_long'] = data_cnt['위도']+data_cnt['경도']

In [37]:
data_cnt['세탁소_cnt'].value_counts().sort_index()

0      780
1      740
2     1278
3     1565
4     1693
5     1573
6     1346
7     1061
8      802
9      583
10     386
11     250
12     148
13      79
14      33
15      19
16       3
17       3
Name: 세탁소_cnt, dtype: int64

In [38]:
data_cnt[data_cnt['세탁소_cnt'] == 17]

,도로명,위도,경도,세탁소_cnt,lat_long
3453,구로동로12길,37.488369776883296,126.88632763339899,17,37.488369776883296126.88632763339899
3480,구로동로20길,37.4883854226237,126.886575802845,17,37.4883854226237126.886575802845
12229,도림로14길,37.48738381528361,126.88908827476801,17,37.48738381528361126.88908827476801

In [41]:
data[data['lat_long'] == '37.488369776883296126.88632763339899']   #

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
20054,단독/다가구,37.488369776883296126.88632763339899,빨래방,"서울특별시 구로구 도림로10길 5, (구로동)",37.486138,126.887826
20055,단독/다가구,37.488369776883296126.88632763339899,사랑사,"서울특별시 구로구 구로동로22길 34, (구로동)",37.489403,126.886206
20056,단독/다가구,37.488369776883296126.88632763339899,구로사,"서울특별시 구로구 도림로12길 5, (구로동)",37.487009,126.888412
20057,단독/다가구,37.488369776883296126.88632763339899,해마사,"서울특별시 구로구 구로동로7길 50, (구로동)",37.486695,126.883803
20058,단독/다가구,37.488369776883296126.88632763339899,깔끔이세탁소,"서울특별시 구로구 구로동로15길 18, (구로동)",37.487902,126.883740
20059,단독/다가구,37.488369776883296126.88632763339899,형제사,"서울특별시 구로구 도림로10길 5, (구로동)",37.486138,126.887826
20060,단독/다가구,37.488369776883296126.88632763339899,백조,"서울특별시 구로구 구로동로18길 28, (구로동)",37.487770,126.886026
20061,단독/다가구,37.488369776883296126.88632763339899,청명세탁,"서울특별시 구로구 구로동로18길 50, (구로동)",37.487321,126.887141
20062,단독/다가구,37.488369776883296126.88632763339899,아트사,"서울특별시 구로구 구로동로8길 18-12, 5동 (구로동, 구로아트빌라)",37.486487,126.886543
20063,단독/다가구,37.488369776883296126.88632763339899,평화사세탁소,"서울특별시 구로구 구로동로18길 33, (구로동)",37.487792,126.886444
20064,단독/다가구,37.488369776883296126.88632763339899,성광사,"서울특별시 구로구 구로동로22길 45, (구로동)",37.489266,126.886988
20065,단독/다가구,37.488369776883296126.88632763339899,믿음컴퓨터크리닝,"서울특별시 구로구 도림로 59, (구로동, 구로두산아파트)",37.489888,126.888946
20066,단독/다가구,37.488369776883296126.88632763339899,신성사,"서울특별시 구로구 구로동로21길 10, (구로동)",37.489487,126.883649
20067,단독/다가구,37.488369776883296126.88632763339899,중앙사,"서울특별시 구로구 구로동로20길 6-7, (구로동)",37.488482,126.885066
20068,단독/다가구,37.488369776883296126.88632763339899,신성사,"서울특별시 구로구 구로동로23길 7-19, (구로동)",37.489523,126.883626
20069,단독/다가구,37.488369776883296126.88632763339899,월드크리닝서울구로두산점,"서울특별시 구로구 구로동로22길 78-2, (구로동)",37.488386,126.888211
20070,단독/다가구,37.488369776883296126.88632763339899,워시프렌즈셀프빨래방서울,"서울특별시 구로구 구로동로28길 55, (구로동)",37.490971,126.887200

In [42]:
laundry[laundry['도로명주소'] == '서울특별시 구로구 도림로10길 5, (구로동)']

      상호명                      도로명주소         위도          경도
248   빨래방  서울특별시 구로구 도림로10길 5, (구로동)  37.486138  126.887826
2037  형제사  서울특별시 구로구 도림로10길 5, (구로동)  37.486138  126.887826

In [48]:
laundry[laundry['도로명주소'].str.contains('서울특별시 구로구 구로동로22길 34|서울특별시 구로구 구로동로15길 18|서울특별시 구로구 구로동로22길 45|서울특별시 구로구 도림로 59|서울특별시 구로구 구로동로23길 7-19')]

           상호명                             도로명주소         위도          경도
1001       사랑사       서울특별시 구로구 구로동로22길 34, (구로동)  37.489403  126.886206
1597    깔끔이세탁소       서울특별시 구로구 구로동로15길 18, (구로동)  37.487902  126.883740
3487       성광사       서울특별시 구로구 구로동로22길 45, (구로동)  37.489266  126.886988
3687  믿음컴퓨터크리닝  서울특별시 구로구 도림로 59, (구로동, 구로두산아파트)  37.489888  126.888946
4226       신성사     서울특별시 구로구 구로동로23길 7-19, (구로동)  37.489523  126.883626

In [49]:
laundry[laundry['도로명주소'].str.contains('서울특별시 구로구 구로동로22길 34|서울특별시 구로구 구로동로15길 18|서울특별시 구로구 구로동로22길 45|서울특별시 구로구 도림로 59|서울특별시 구로구 구로동로23길 7-19')].index

Int64Index([1001, 1597, 3487, 3687, 4226], dtype='int64')

In [50]:
idx1 = [248, 1001, 1597, 3487, 3687, 4226]
print(laundry.shape)
laundry.drop(idx1, inplace=True)
laundry.shape

(5269, 4)

(5263, 4)

- 세탁소 10개 내외는 말이 되는 것이 확인됨

- 16

In [51]:
data_cnt[data_cnt['세탁소_cnt'] == 16]

,도로명,위도,경도,세탁소_cnt,lat_long
369,역삼로18길,37.4941217986957,127.036340310085,16,37.4941217986957127.036340310085
3098,능동로38길,37.5574128255032,127.081031077384,16,37.5574128255032127.081031077384
4728,답십리로65길,37.5756098149736,127.069694181929,16,37.5756098149736127.069694181929

In [52]:
data[data['lat_long'] == '37.4941217986957127.036340310085']   # 역삼로18길

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
2136,단독/다가구,37.4941217986957127.036340310085,조일사세탁소,"서울특별시 강남구 논현로67길 17, (역삼동)",37.493841,127.038534
2137,단독/다가구,37.4941217986957127.036340310085,일렉트론스피드클리닝,"서울특별시 강남구 논현로71길 30, (역삼동)",37.494548,127.036942
2138,단독/다가구,37.4941217986957127.036340310085,백양세탁소,"서울특별시 강남구 논현로75길 31, (역삼동)",37.496389,127.036149
2139,단독/다가구,37.4941217986957127.036340310085,세탁사랑,"서울특별시 강남구 논현로67길 17, (역삼동)",37.493841,127.038534
2140,단독/다가구,37.4941217986957127.036340310085,명품세탁,"서울특별시 강남구 역삼로17길 9, (역삼동)",37.495512,127.035799
2141,단독/다가구,37.4941217986957127.036340310085,크린홈,"서울특별시 강남구 테헤란로22길 79, (역삼동)",37.495424,127.033877
2142,단독/다가구,37.4941217986957127.036340310085,강남크리닝,"서울특별시 강남구 역삼로19길 14, (역삼동, 노블스위트)",37.496092,127.037329
2143,단독/다가구,37.4941217986957127.036340310085,성호세탁소,"서울특별시 강남구 역삼로15길 20, (역삼동)",37.496140,127.035485
2144,단독/다가구,37.4941217986957127.036340310085,올림픽세탁,"서울특별시 강남구 논현로79길 57, (역삼동)",37.496158,127.034377
2145,단독/다가구,37.4941217986957127.036340310085,현대크리닝상사,"서울특별시 강남구 역삼로14길 3, (역삼동)",37.494329,127.035418
2146,단독/다가구,37.4941217986957127.036340310085,이화모피크리닝세탁소,"서울특별시 강남구 도곡로23길 19, (역삼동)",37.493468,127.039297
2147,단독/다가구,37.4941217986957127.036340310085,크린토피아역삼롯데캐슬노블점,"서울특별시 강남구 논현로67길 45, (역삼동)",37.493101,127.036203
2148,단독/다가구,37.4941217986957127.036340310085,워시테리아빨래방서울역삼점,"서울특별시 강남구 역삼로 152, (역삼동)",37.494666,127.035934
2149,단독/다가구,37.4941217986957127.036340310085,명품세탁,"서울특별시 강남구 역삼로11길 3, (역삼동)",37.494616,127.034125
2150,단독/다가구,37.4941217986957127.036340310085,미래명품세탁,"서울특별시 강남구 역삼로11길 3, (역삼동)",37.494616,127.034125
2151,단독/다가구,37.4941217986957127.036340310085,매직세탁,"서울특별시 강남구 논현로67길 32, (역삼동, 수타워)",37.493659,127.037270

In [55]:
laundry[laundry['도로명주소'] == '서울특별시 강남구 논현로67길 17, (역삼동)']

        상호명                       도로명주소         위도          경도
96   조일사세탁소  서울특별시 강남구 논현로67길 17, (역삼동)  37.493841  127.038534
713    세탁사랑  서울특별시 강남구 논현로67길 17, (역삼동)  37.493841  127.038534

In [57]:
laundry[laundry['도로명주소'] == '서울특별시 강남구 역삼로11길 3, (역삼동)']

         상호명                      도로명주소         위도          경도
4938    명품세탁  서울특별시 강남구 역삼로11길 3, (역삼동)  37.494616  127.034125
5031  미래명품세탁  서울특별시 강남구 역삼로11길 3, (역삼동)  37.494616  127.034125

In [56]:
laundry[laundry['도로명주소'].str.contains('')]

         상호명                      도로명주소         위도          경도
4938    명품세탁  서울특별시 강남구 역삼로11길 3, (역삼동)  37.494616  127.034125
5031  미래명품세탁  서울특별시 강남구 역삼로11길 3, (역삼동)  37.494616  127.034125

In [58]:
data[data['lat_long'] == '37.5574128255032127.081031077384']   # 능동로38길

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
17790,단독/다가구,37.5574128255032127.081031077384,백영사,"서울특별시 광진구 천호대로112길 28, (능동)",37.555062,127.080881
17791,단독/다가구,37.5574128255032127.081031077384,그린세탁소,"서울특별시 광진구 용마산로1길 96, (중곡동)",37.556542,127.083477
17792,단독/다가구,37.5574128255032127.081031077384,미도사,"서울특별시 광진구 능동로38길 34, (중곡동)",37.557041,127.081626
17793,단독/다가구,37.5574128255032127.081031077384,현대사,"서울특별시 광진구 능동로32길 5, (능동)",37.555309,127.079055
17794,단독/다가구,37.5574128255032127.081031077384,잉꼬,"서울특별시 광진구 능동로36길 49, (능동)",37.555484,127.081849
17795,단독/다가구,37.5574128255032127.081031077384,늘푸른,"서울특별시 광진구 능동로40길 19, 1동 (중곡동, 유정아트빌)",37.558047,127.081263
17796,단독/다가구,37.5574128255032127.081031077384,셀프빨래방,"서울특별시 광진구 천호대로112길 29, (능동)",37.554838,127.081076
17797,단독/다가구,37.5574128255032127.081031077384,대성사,"서울특별시 광진구 용마산로3길 93, (중곡동)",37.557079,127.083063
17798,단독/다가구,37.5574128255032127.081031077384,백영세탁,"서울특별시 광진구 천호대로112길 28, (능동)",37.555062,127.080881
17799,단독/다가구,37.5574128255032127.081031077384,그린세탁소,"서울특별시 광진구 긴고랑로14길 59, (중곡동)",37.559950,127.080334
17800,단독/다가구,37.5574128255032127.081031077384,그린아트,"서울특별시 광진구 능동로40길 36, (중곡동)",37.557540,127.082016
17801,단독/다가구,37.5574128255032127.081031077384,세탁편의점,"서울특별시 광진구 천호대로111길 19, (중곡동)",37.557343,127.082279
17802,단독/다가구,37.5574128255032127.081031077384,늘푸른,"서울특별시 광진구 긴고랑로16길 57, (중곡동)",37.559456,127.081664
17803,단독/다가구,37.5574128255032127.081031077384,동부세탁소,"서울특별시 광진구 천호대로107길 16, (중곡동)",37.558415,127.078723
17804,단독/다가구,37.5574128255032127.081031077384,미형사,"서울특별시 광진구 능동로32길 31, (능동)",37.554841,127.080318
17805,단독/다가구,37.5574128255032127.081031077384,금강세탁소,"서울특별시 광진구 능동로42길 32, (중곡동)",37.559012,127.082530

In [64]:
laundry[laundry['도로명주소'] == '서울특별시 광진구 능동로32길 5, (능동)']

     상호명                     도로명주소         위도          경도
112  현대사  서울특별시 광진구 능동로32길 5, (능동)  37.555309  127.079055

In [69]:
laundry[laundry['도로명주소'].str.contains('서울특별시 광진구 천호대로112길 28|서울특별시 광진구 용마산로1길 96|서울특별시 광진구 능동로38길 34|서울특별시 광진구 능동로40길 19|서울특별시 광진구 천호대로111길 19|서울특별시 광진구 천호대로107길 16')]

        상호명                                  도로명주소         위도          경도
39      백영사            서울특별시 광진구 천호대로112길 28, (능동)  37.555062  127.080881
67    그린세탁소             서울특별시 광진구 용마산로1길 96, (중곡동)  37.556542  127.083477
91      미도사             서울특별시 광진구 능동로38길 34, (중곡동)  37.557041  127.081626
153     늘푸른  서울특별시 광진구 능동로40길 19, 1동  (중곡동, 유정아트빌)  37.558047  127.081263
1871   백영세탁            서울특별시 광진구 천호대로112길 28, (능동)  37.555062  127.080881
4414  세탁편의점           서울특별시 광진구 천호대로111길 19, (중곡동)  37.557343  127.082279
4813  동부세탁소           서울특별시 광진구 천호대로107길 16, (중곡동)  37.558415  127.078723

In [70]:
laundry[laundry['도로명주소'].str.contains('서울특별시 광진구 천호대로112길 28|서울특별시 광진구 용마산로1길 96|서울특별시 광진구 능동로38길 34|서울특별시 광진구 능동로40길 19|서울특별시 광진구 천호대로111길 19|서울특별시 광진구 천호대로107길 16')].index

Int64Index([39, 67, 91, 153, 1871, 4414, 4813], dtype='int64')

In [72]:
data[data['lat_long'] == '37.5756098149736127.069694181929']   # 답십리로65길

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
26895,단독/다가구,37.5756098149736127.069694181929,태양세탁소,서울특별시 동대문구 장한로27나길 2,37.573226,127.070458
26896,단독/다가구,37.5756098149736127.069694181929,백광사,"서울특별시 동대문구 장한로33길 30, (장안동, 장안홈)",37.576568,127.070258
26897,단독/다가구,37.5756098149736127.069694181929,건홍사,"서울특별시 동대문구 답십리로65길 39, (장안동)",37.574317,127.069335
26898,단독/다가구,37.5756098149736127.069694181929,크린토피아,"서울특별시 동대문구 한천로33길 21, (답십리동)",37.576415,127.066886
26899,단독/다가구,37.5756098149736127.069694181929,은하사,"서울특별시 동대문구 답십리로63길 18, (장안동)",37.573399,127.068305
26900,단독/다가구,37.5756098149736127.069694181929,유미클리닝,"서울특별시 동대문구 장한로28가길 68, (장안동)",37.575994,127.072936
26901,단독/다가구,37.5756098149736127.069694181929,장평사,"서울특별시 동대문구 답십리로63길 21, (장안동)",37.573659,127.068188
26902,단독/다가구,37.5756098149736127.069694181929,신광세탁소,"서울특별시 동대문구 답십리로63길 30, (장안동)",37.573852,127.068593
26903,단독/다가구,37.5756098149736127.069694181929,광명사,"서울특별시 동대문구 사가정로20길 49, (전농동)",37.576630,127.066713
26904,단독/다가구,37.5756098149736127.069694181929,준콤퓨터세탁사,"서울특별시 동대문구 답십리로63길 124-1, (장안동)",37.578121,127.069491
26905,단독/다가구,37.5756098149736127.069694181929,이언사,서울특별시 동대문구 장한로27가길 5,37.573302,127.070909
26906,단독/다가구,37.5756098149736127.069694181929,금옥사,"서울특별시 동대문구 장한로27길 46, (장안동)",37.573288,127.069053
26907,단독/다가구,37.5756098149736127.069694181929,크린에이드,"서울특별시 동대문구 장한로 147, (장안동)",37.573468,127.071372
26908,단독/다가구,37.5756098149736127.069694181929,청운사,"서울특별시 동대문구 한천로40길 11, (장안동)",37.577557,127.068875
26909,단독/다가구,37.5756098149736127.069694181929,우성그린세탁소,"서울특별시 동대문구 답십리로59길 33, (답십리동, 우성그린아파트)",37.575051,127.066507
26910,단독/다가구,37.5756098149736127.069694181929,장평사세탁소,"서울특별시 동대문구 답십리로63길 21, (장안동)",37.573659,127.068188

In [64]:
laundry[laundry['도로명주소'] == '서울특별시 광진구 능동로32길 5, (능동)']

     상호명                     도로명주소         위도          경도
112  현대사  서울특별시 광진구 능동로32길 5, (능동)  37.555309  127.079055

In [78]:
laundry[laundry['도로명주소'].str.contains('서울특별시 동대문구 장한로27나길 2|서울특별시 동대문구 한천로33길 21|서울특별시 동대문구 장한로28가길 68|서울특별시 동대문구 답십리로63길 30|서울특별시 동대문구 답십리로63길 124-1|서울특별시 동대문구 장한로27가길 5|서울특별시 동대문구 장한로27길 46')]

          상호명                            도로명주소         위도          경도
247     태양세탁소             서울특별시 동대문구 장한로27나길 2  37.573226  127.070458
578     크린토피아     서울특별시 동대문구 한천로33길 21, (답십리동)  37.576415  127.066886
2897    유미클리닝     서울특별시 동대문구 장한로28가길 68, (장안동)  37.575994  127.072936
3139    신광세탁소     서울특별시 동대문구 답십리로63길 30, (장안동)  37.573852  127.068593
3270  준콤퓨터세탁사  서울특별시 동대문구 답십리로63길 124-1, (장안동)  37.578121  127.069491
3342      이언사             서울특별시 동대문구 장한로27가길 5  37.573302  127.070909
3434      금옥사      서울특별시 동대문구 장한로27길 46, (장안동)  37.573288  127.069053

In [81]:
laundry.loc[laundry['도로명주소'].str.contains('서울특별시 동대문구 장한로 147'),'상호명'] = '우성빨래방'
laundry.loc[laundry['도로명주소'].str.contains('서울특별시 동대문구 한천로40길 11'), '상호명'] = ' 크린앤화이트24시코인셀프빨래방'

In [82]:
laundry[laundry['도로명주소'].str.contains('서울특별시 동대문구 장한로27나길 2|서울특별시 동대문구 한천로33길 21|서울특별시 동대문구 장한로28가길 68|서울특별시 동대문구 답십리로63길 30|서울특별시 동대문구 답십리로63길 124-1|서울특별시 동대문구 장한로27가길 5|서울특별시 동대문구 장한로27길 46')].index

Int64Index([247, 578, 2897, 3139, 3270, 3342, 3434], dtype='int64')

In [83]:
idx1 = [713,4938,112,39, 67, 91, 153, 1871, 4414, 4813,247, 578, 2897, 3139, 3270, 3342, 3434]
print(laundry.shape)
laundry.drop(idx1, inplace=True)
laundry.shape

(5263, 4)

(5246, 4)

In [84]:
laundry.reset_index(inplace=True)
laundry.drop('index', axis=1, inplace=True)
laundry

              상호명                             도로명주소         위도          경도
0              일광       서울특별시 광진구 구의강변로3길 19, (구의동)  37.535831  127.091040
1           로얄크리닝         서울특별시 관악구 양녕로2길 22, (봉천동)  37.483219  126.947841
2            신안세탁   서울특별시 중랑구 공릉로2라길 15, (묵동, 신안1차)  37.612858  127.081314
3              제일       서울특별시 성북구 화랑로22가길 42, (석관동)  37.607380  127.052874
4      크린토피아성내진주점  서울특별시 송파구 올림픽로 399, (신천동, 진주아파트)  37.518731  127.110275
...           ...                               ...        ...         ...
5241  더런드리셀프빨래방석촌      서울특별시 송파구 백제고분로34길 34, (석촌동)  37.499424  127.098652
5242        타워세탁소        서울특별시 관악구 신림로28길 27, (신림동)  37.472699  126.935281
5243          세탁소         서울특별시 종로구 사직로8길 31, (내자동)  37.574870  126.971968
5244           그린    서울특별시 동대문구 서울시립대로16길 16, (전농동)  37.579718  127.051685
5245        크린토피아       서울특별시 강동구 천호대로185길 89, (길동)  37.538005  127.142001

[5246 rows x 4 columns]

In [86]:
laundry.to_csv('data/세탁소.csv', index=False, encoding='utf-8')

# 다이소 -  300m 내 개수 구한 뒤, 이상치 확인 및 제거

## 확인1

In [76]:
daiso = pd.read_csv('data/다이소.csv')
daiso

,상호명,도로명주소,위도,경도,위경도
0,다이소,"서울특별시 서초구 서초대로 323, (서초동)",37.494878,127.016797,37.49487804702979127.016796631394
1,다이소,"서울특별시 광진구 강변역로 50, (구의동)",37.534530,127.094167,37.53453044116689127.094167449723
2,다이소,"서울특별시 마포구 신촌로 270, (아현동)",37.557121,126.955699,37.5571205971685126.95569882209101
3,다이소,"서울특별시 영등포구 신길로 39, (대림동)",37.495957,126.907765,37.495956642931496126.907764646693
4,다이소,"서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)",37.488136,127.050661,37.488135801144296127.050661376693
...,...,...,...,...,...
216,다이소,서울특별시 강남구 도곡로 435,37.498581,127.057688,37.498581252944795127.05768799373999
217,다이소,"서울특별시 관악구 남부순환로 1820, (봉천동)",37.480941,126.952068,37.4809409770823126.952067736166
218,다이소,"서울특별시 마포구 양화로 182, (동교동)",37.557751,126.925572,37.557751318095126.925572234033
219,다이소,서울특별시 송파구 거마로 12,37.493893,127.144982,37.493893013282127.144982329965
220,다이소,"서울특별시 강남구 헌릉로569길 21-36, (세곡동)",37.466375,127.100145,37.4663749351713127.10014530707501

In [78]:
daiso2 = pd.read_csv('data/단독다가구_편의시설_다이소.csv')
daiso2

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
0,개포로15길,37.479780,127.045229,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,37.479780087904295127.04522930859699
1,강남대로126길,37.510767,127.026095,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,37.5107668926318127.02609510601002
2,학동로4길,37.509845,127.023563,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,37.509844525862127.023563393784
3,선릉로125길,37.514731,127.040595,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,37.51473109183271127.040594935781
4,선릉로125길,37.514731,127.040595,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,37.51473109183271127.040594935781
...,...,...,...,...,...,...,...,...
2435,영중로3길,37.516757,126.905380,다이소,"서울특별시 영등포구 영중로 21, (영등포동4가)",37.518440,126.905141,37.516757160043895126.905380298881
2436,영중로3길,37.516757,126.905380,다이소,"서울특별시 영등포구 영중로 22, (영등포동3가)",37.518331,126.905934,37.516757160043895126.905380298881
2437,한강대로81길,37.542830,126.971612,다이소,"서울특별시 용산구 한강대로77길 12, (갈월동)",37.542197,126.971874,37.5428300515499126.971611514109
2438,종로46길,37.570724,127.010477,다이소,"서울특별시 중구 장충단로 275, (을지로6가)",37.568877,127.008761,37.5707241856781127.01047746532
2439,종로46길,37.570724,127.010477,다이소동대문점,"서울특별시 종로구 율곡로 309, (창신동)",37.570266,127.009965,37.5707241856781127.01047746532

In [79]:
main_data2 = pd.read_csv('data/단독다가구_편의시설추가_v1.csv')
main_data2

           도로명         위도          경도  세탁소_cnt  다이소_cnt
0        논현로6길  37.473561  127.050895        8        0
1       논현로18길  37.477885  127.046338        4        0
2       개포로20길  37.477040  127.048356        6        0
3       선릉로12길  37.483899  127.060991        4        0
4        논현로8길  37.474467  127.051458        9        0
...        ...        ...         ...      ...      ...
12337    종로46길  37.570724  127.010477        3        2
12338    평창42길  37.613282  126.979078        2        0
12339   종로35가길  37.571897  127.004875        2        0
12340   삼일대로6길  37.562391  126.989648        1        0
12341  동일로134길  37.600981  127.080509        6        0

[12342 rows x 5 columns]

In [80]:
main_data2['다이소_cnt'].value_counts().sort_index()

0    10257
1     1786
2      256
3       33
4        7
5        3
Name: 다이소_cnt, dtype: int64

In [81]:
main_data2[main_data2['다이소_cnt'] == 5]

         도로명         위도          경도  세탁소_cnt  다이소_cnt
6477  연세로5가길  37.557310  126.935745        1        5
6481   연세로5길  37.556649  126.935827        2        5
6483     연세로  37.556649  126.935827        2        5

- 5

In [82]:
daiso2[daiso2['도로명'] == '연세로']   # 다이소신촌명물거리점, 다이소신촌본점 2개만 유효

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
1477,연세로,37.556649,126.935827,다이소,"서울특별시 서대문구 신촌로 93, (창천동)",37.555679,126.936546,37.5566490545722126.93582662277299
1478,연세로,37.556649,126.935827,다이소,"서울특별시 서대문구 신촌로 109, (창천동)",37.555825,126.937778,37.5566490545722126.93582662277299
1479,연세로,37.556649,126.935827,다이소신촌2점,"서울특별시 서대문구 연세로 1, (창천동)",37.555779,126.936647,37.5566490545722126.93582662277299
1480,연세로,37.556649,126.935827,다이소신촌명물거리점,"서울특별시 서대문구 명물길 27, (창천동)",37.558297,126.938048,37.5566490545722126.93582662277299
1481,연세로,37.556649,126.935827,다이소신촌본점,"서울특별시 마포구 신촌로 90, (노고산동)",37.555301,126.935522,37.5566490545722126.93582662277299

In [85]:
# daiso 원데이터에서 삭제
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'].str.contains('서울특별시 서대문구 신촌로 93|서울특별시 서대문구 신촌로 109|서울특별시 서대문구 연세로 1')].index
daiso.drop(idx1, inplace=True)
daiso.shape

(221, 4)

(218, 4)

- 4

In [86]:
main_data2[main_data2['다이소_cnt'] == 4]

          도로명         위도          경도  세탁소_cnt  다이소_cnt
346    테헤란로1길  37.499963  127.027545        0        4
434    테헤란로5길  37.500538  127.028950        0        4
450   강남대로98길  37.500746  127.027708        1        4
5727   서강로20길  37.553723  126.936417        4        4
5729    백범로2길  37.553832  126.935725        5        4
5731   신촌로20길  37.554262  126.938448        5        4
6456    연세로7길  37.557693  126.935078        2        4

In [87]:
daiso2[daiso2['도로명'] == '테헤란로1길']   # 서울특별시 강남구 테헤란로 109만 유효하고, 나머지 2개는 주소/위경도 수정 필요

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
87,테헤란로1길,37.499963,127.027545,다이소,"서울특별시 서초구 강남대로 407, (서초동)",37.498987,127.026593,37.499962609159205127.027544885802
88,테헤란로1길,37.499963,127.027545,다이소,"서울특별시 강남구 테헤란로 109, (역삼동)",37.498817,127.028970,37.499962609159205127.027544885802
89,테헤란로1길,37.499963,127.027545,다이소강남대로점,"서울특별시 서초구 강남대로 405, (서초동)",37.498762,127.026675,37.499962609159205127.027544885802
90,테헤란로1길,37.499963,127.027545,다이소,서울특별시 강남구 강남대로 396,37.498154,127.028289,37.499962609159205127.027544885802

In [90]:
daiso[daiso['도로명주소'].str.contains('서울특별시 서초구 강남대로 407|서울특별시 서초구 강남대로 405|서울특별시 강남구 강남대로 396')]

          상호명                      도로명주소         위도          경도
54        다이소  서울특별시 서초구 강남대로 407, (서초동)  37.498987  127.026593
162  다이소강남대로점  서울특별시 서초구 강남대로 405, (서초동)  37.498762  127.026675
201       다이소         서울특별시 강남구 강남대로 396  37.498154  127.028289

In [91]:
# 원데이터에서 삭제
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'].str.contains('서울특별시 서초구 강남대로 407|서울특별시 서초구 강남대로 405|서울특별시 강남구 강남대로 396')].index
daiso.drop(idx1, inplace=True)
daiso.shape

(218, 4)

(215, 4)

In [92]:
daiso

     상호명                               도로명주소         위도          경도
0    다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1    다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2    다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3    다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4    다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..   ...                                 ...        ...         ...
216  다이소                   서울특별시 강남구 도곡로 435  37.498581  127.057688
217  다이소         서울특별시 관악구 남부순환로 1820, (봉천동)  37.480941  126.952068
218  다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
219  다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
220  다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145

[215 rows x 4 columns]

In [93]:
daiso.columns

Index(['상호명', '도로명주소', '위도', '경도'], dtype='object')

In [94]:
daiso = daiso.append(pd.DataFrame([['다이소 강남본점','서울특별시 강남구 강남대로 372, (역삼동)',37.49597231611333,127.0290737797829],
['다이소 신논현역점','서울특별시 강남구 강남대로 470, (역삼동)',37.50434808917916, 127.02505080358152]], columns = ['상호명', '도로명주소', '위도', '경도']))
daiso

           상호명                               도로명주소         위도          경도
0          다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1          다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2          다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3          다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4          다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..         ...                                 ...        ...         ...
218        다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
219        다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
220        다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145
0     다이소 강남본점           서울특별시 강남구 강남대로 372, (역삼동)  37.495972  127.029074
1    다이소 신논현역점           서울특별시 강남구 강남대로 470, (역삼동)  37.504348  127.025051

[217 rows x 4 columns]

In [95]:
# 4개 2차 확인
daiso2[daiso2['도로명'] == '서강로20길']    # 다이소신촌본점 만 유효

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
1320,서강로20길,37.553723,126.936417,다이소,"서울특별시 서대문구 신촌로 93, (창천동)",37.555679,126.936546,37.553723114250005126.9364171669
1321,서강로20길,37.553723,126.936417,다이소,"서울특별시 서대문구 신촌로 109, (창천동)",37.555825,126.937778,37.553723114250005126.9364171669
1322,서강로20길,37.553723,126.936417,다이소신촌2점,"서울특별시 서대문구 연세로 1, (창천동)",37.555779,126.936647,37.553723114250005126.9364171669
1323,서강로20길,37.553723,126.936417,다이소신촌본점,"서울특별시 마포구 신촌로 90, (노고산동)",37.555301,126.935522,37.553723114250005126.9364171669

In [96]:
daiso[daiso['도로명주소'].str.contains('서울특별시 서대문구 신촌로 93|서울특별시 서대문구 신촌로 109|서울특별시 서대문구 연세로 1')]  # 이미 삭제됨

Empty DataFrame
Columns: [상호명, 도로명주소, 위도, 경도]
Index: []

In [97]:
daiso[daiso['도로명주소'].str.contains('서울특별시 마포구 신촌로 90')]  # 이미 삭제됨

         상호명                     도로명주소         위도          경도
185  다이소신촌본점  서울특별시 마포구 신촌로 90, (노고산동)  37.555301  126.935522

- 3

In [98]:
main_data2[main_data2['다이소_cnt'] == 3]

             도로명         위도          경도  세탁소_cnt  다이소_cnt
367       테헤란로4길  37.496864  127.030196        5        3
372      강남대로84길  37.496829  127.030112        5        3
438       테헤란로6길  37.497107  127.030986        9        3
728     양재대로91가길  37.525951  127.133284        6        3
1023      삼양로47길  37.622819  127.017621        2        3
1215     오패산로78길  37.637863  127.027119        7        3
1272      도봉로87길  37.638865  127.024309        3        3
2074   남부순환로220길  37.480087  126.951627       10        3
2155       행운1나길  37.482034  126.955143        7        3
2252      봉천로53길  37.482530  126.954303        8        3
4821     답십리로15길  37.578314  127.047588        5        3
4825      왕산로36길  37.578593  127.044051        3        3
5237      동작대로7길  37.478580  126.979397        6        3
5249   남부순환로271길  37.478257  126.980075        5        3
5258      동작대로3길  37.478472  126.979794        5        3
5725      신촌로14길  37.555215  126.933526        3        3
5736     신촌로12다길  37.554802  126.933555        2        3
5739       백범로1길  37.555476  126.939730        2        3
5740      신촌로16길  37.554612  126.934548        4        3
5741     신촌로12가길  37.555634  126.933801        4        3
5743     신촌로12나길  37.555220  126.933662        3        3
6458      연세로5다길  37.556661  126.934170        2        3
6462       연세로4길  37.558190  126.939157        1        3
6467      연세로7안길  37.558119  126.935172        2        3
6471         명물길  37.558375  126.937238        0        3
6475       연세로2길  37.556660  126.939810        4        3
6476      연세로5나길  37.556976  126.934565        2        3
6478      연세로2나길  37.557666  126.939222        2        3
8180      거마로10길  37.494749  127.146864        4        3
9439      영신로32길  37.519084  126.902842        1        3
9440      영신로34길  37.519668  126.903548        2        3
9441     영등포로36길  37.519210  126.903608        3        3
12034     영신로30길  37.518706  126.902988        3        3

In [99]:
daiso2[daiso2['도로명'] == '남부순환로271길']  # 2개 유효

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
1218,남부순환로271길,37.478257,126.980075,다이소사당1호점,"서울특별시 동작구 동작대로 43, (사당동)",37.480477,126.981415,37.478257150889796126.98007508737
1219,남부순환로271길,37.478257,126.980075,다이소,"서울특별시 동작구 남부순환로 2057, (사당동)",37.476928,126.977348,37.478257150889796126.98007508737
1220,남부순환로271길,37.478257,126.980075,다이소,서울특별시 서초구 동작대로 22,37.478384,126.982189,37.478257150889796126.98007508737

In [100]:
daiso[daiso['도로명주소'].str.contains('서울특별시 서초구 동작대로 22')]  # 삭제 대상

     상호명              도로명주소         위도          경도
200  다이소  서울특별시 서초구 동작대로 22  37.478384  126.982189

In [101]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'].str.contains('서울특별시 서초구 동작대로 22')].index
daiso.drop(idx1, inplace=True)
daiso.shape

(217, 4)

(216, 4)

In [102]:
daiso2[daiso2['도로명'] == '영등포로36길']   # 21

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
2079,영등포로36길,37.51921,126.903608,다이소,"서울특별시 영등포구 영중로 21, (영등포동4가)",37.518440,126.905141,37.519209699265794126.903608480236
2080,영등포로36길,37.51921,126.903608,다이소,"서울특별시 영등포구 영등포로 189-1, (영등포동6가)",37.520626,126.902744,37.519209699265794126.903608480236
2081,영등포로36길,37.51921,126.903608,다이소,"서울특별시 영등포구 영중로 22, (영등포동3가)",37.518331,126.905934,37.519209699265794126.903608480236

In [105]:
# 삭제대상
daiso[daiso['도로명주소'].str.contains('서울특별시 영등포구 영등포로 189-1|서울특별시 영등포구 영중로 22')]

     상호명                            도로명주소         위도          경도
58   다이소  서울특별시 영등포구 영등포로 189-1, (영등포동6가)  37.520626  126.902744
130  다이소      서울특별시 영등포구 영중로 22, (영등포동3가)  37.518331  126.905934

In [106]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'].str.contains('서울특별시 영등포구 영등포로 189-1|서울특별시 영등포구 영중로 22')].index
daiso.drop(idx1, inplace=True)
daiso.shape

(216, 4)

(214, 4)

In [103]:
daiso[daiso['도로명주소'].str.contains('서울특별시 영등포구 당산로 42')]

    상호명                       도로명주소         위도          경도
22  다이소  서울특별시 영등포구 당산로 42, (문래동3가)  37.518228  126.895868

In [108]:
daiso2[daiso2['도로명'] == '거마로10길']    #12, 281 유효

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long
1853,거마로10길,37.494749,127.146864,다이소마천점,"서울특별시 송파구 마천로 281, (마천동)",37.497141,127.147999,37.4947488872013127.14686414120199
1854,거마로10길,37.494749,127.146864,다이소거여점,"서울특별시 송파구 오금로 508, (거여동)",37.492857,127.145028,37.4947488872013127.14686414120199
1855,거마로10길,37.494749,127.146864,다이소,서울특별시 송파구 거마로 12,37.493893,127.144982,37.4947488872013127.14686414120199

In [109]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'].str.contains('서울특별시 송파구 오금로 508')].index
daiso.drop(idx1, inplace=True)
daiso.shape

(214, 4)

(213, 4)

In [111]:
# 중복확인
daiso[daiso['도로명주소'].duplicated()]

Empty DataFrame
Columns: [상호명, 도로명주소, 위도, 경도]
Index: []

In [114]:
daiso[daiso['상호명'].duplicated()]['상호명'].unique()

array(['다이소'], dtype=object)

In [115]:
daiso.reset_index(inplace=True)
daiso.drop('index', axis=1, inplace=True)
daiso

           상호명                               도로명주소         위도          경도
0          다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1          다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2          다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3          다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4          다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..         ...                                 ...        ...         ...
208        다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
209        다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
210        다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145
211   다이소 강남본점           서울특별시 강남구 강남대로 372, (역삼동)  37.495972  127.029074
212  다이소 신논현역점           서울특별시 강남구 강남대로 470, (역삼동)  37.504348  127.025051

[213 rows x 4 columns]

In [116]:
daiso.to_csv('data/다이소.csv', index=False, encoding='utf-8')

## 확인2

In [123]:
daiso = pd.read_csv('data/다이소.csv')
daiso

           상호명                               도로명주소         위도          경도
0          다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1          다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2          다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3          다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4          다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..         ...                                 ...        ...         ...
208        다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
209        다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
210        다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145
211   다이소 강남본점           서울특별시 강남구 강남대로 372, (역삼동)  37.495972  127.029074
212  다이소 신논현역점           서울특별시 강남구 강남대로 470, (역삼동)  37.504348  127.025051

[213 rows x 4 columns]

In [124]:
daiso2 = pd.read_csv('data/단독다가구_편의시설_다이소.csv')
daiso2

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
0,개포로15길,37.479780,127.045229,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,37.479780087904295127.04522930859699,단독/다가구
1,강남대로126길,37.510767,127.026095,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,37.5107668926318127.02609510601002,단독/다가구
2,학동로4길,37.509845,127.023563,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,37.509844525862127.023563393784,단독/다가구
3,선릉로125길,37.514731,127.040595,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,37.51473109183271127.040594935781,단독/다가구
4,선릉로125길,37.514731,127.040595,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,37.51473109183271127.040594935781,단독/다가구
...,...,...,...,...,...,...,...,...,...
2336,남부순환로66길,37.523201,126.834598,다이소,"서울특별시 양천구 지양로 78, (신월동)",37.522648,126.833559,37.5232009724075126.834598273108,단독/다가구
2337,영중로3길,37.516757,126.905380,다이소,"서울특별시 영등포구 영중로 21, (영등포동4가)",37.518440,126.905141,37.516757160043895126.905380298881,단독/다가구
2338,한강대로81길,37.542830,126.971612,다이소,"서울특별시 용산구 한강대로77길 12, (갈월동)",37.542197,126.971874,37.5428300515499126.971611514109,단독/다가구
2339,종로46길,37.570724,127.010477,다이소,"서울특별시 중구 장충단로 275, (을지로6가)",37.568877,127.008761,37.5707241856781127.01047746532,단독/다가구
2340,종로46길,37.570724,127.010477,다이소동대문점,"서울특별시 종로구 율곡로 309, (창신동)",37.570266,127.009965,37.5707241856781127.01047746532,단독/다가구

In [125]:
main_data2 = pd.read_csv('data/단독다가구_편의시설추가_v1.csv')
main_data2

           도로명         위도          경도  세탁소_cnt  다이소_cnt
0        논현로6길  37.473561  127.050895        8        0
1       논현로18길  37.477885  127.046338        4        0
2       개포로20길  37.477040  127.048356        6        0
3       선릉로12길  37.483899  127.060991        4        0
4        논현로8길  37.474467  127.051458        9        0
...        ...        ...         ...      ...      ...
12337    종로46길  37.570724  127.010477        3        2
12338    평창42길  37.613282  126.979078        2        0
12339   종로35가길  37.571897  127.004875        2        0
12340   삼일대로6길  37.562391  126.989648        1        0
12341  동일로134길  37.600981  127.080509        6        0

[12342 rows x 5 columns]

In [126]:
main_data2['다이소_cnt'].value_counts().sort_index()

0    10271
1     1814
2      244
3       13
Name: 다이소_cnt, dtype: int64

In [127]:
main_data2[main_data2['다이소_cnt'] == 3]

            도로명         위도          경도  세탁소_cnt  다이소_cnt
364      테헤란로8길  37.497366  127.031830       11        3
367      테헤란로4길  37.496864  127.030196        5        3
372     강남대로84길  37.496829  127.030112        5        3
438      테헤란로6길  37.497107  127.030986        9        3
728    양재대로91가길  37.525951  127.133284        6        3
1023     삼양로47길  37.622819  127.017621        2        3
1215    오패산로78길  37.637863  127.027119        7        3
1272     도봉로87길  37.638865  127.024309        3        3
2074  남부순환로220길  37.480087  126.951627       10        3
2155      행운1나길  37.482034  126.955143        7        3
2252     봉천로53길  37.482530  126.954303        8        3
4821    답십리로15길  37.578314  127.047588        5        3
4825     왕산로36길  37.578593  127.044051        3        3

In [128]:
daiso2[daiso2['도로명'] == '테헤란로8길']

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
94,테헤란로8길,37.497366,127.03183,다이소,"서울특별시 강남구 테헤란로 109, (역삼동)",37.498817,127.028970,37.4973663637385127.03183044357999,단독/다가구
95,테헤란로8길,37.497366,127.03183,다이소,서울특별시 강남구 강남대로 372,37.496025,127.029052,37.4973663637385127.03183044357999,단독/다가구
96,테헤란로8길,37.497366,127.03183,다이소 강남본점,"서울특별시 강남구 강남대로 372, (역삼동)",37.495972,127.029074,37.4973663637385127.03183044357999,단독/다가구

In [130]:
daiso[daiso['도로명주소'] == '서울특별시 강남구 강남대로 372']

     상호명               도로명주소         위도          경도
192  다이소  서울특별시 강남구 강남대로 372  37.496025  127.029052

In [131]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'] == '서울특별시 강남구 강남대로 372'].index
daiso.drop(idx1, inplace=True)
daiso.shape

(213, 4)

(212, 4)

In [132]:
daiso2[daiso2['도로명'] == '양재대로91가길']  # 1355

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
172,양재대로91가길,37.525951,127.133284,다이소둔촌점,"서울특별시 강동구 양재대로 1329, (성내동)",37.525194,127.134816,37.5259507158724127.13328434241998,단독/다가구
173,양재대로91가길,37.525951,127.133284,다이소,서울특별시 강동구 양재대로 1330,37.524743,127.135964,37.5259507158724127.13328434241998,단독/다가구
174,양재대로91가길,37.525951,127.133284,다이소,서울특별시 강동구 양재대로 1355,37.527389,127.135594,37.5259507158724127.13328434241998,단독/다가구

In [133]:
daiso[daiso['도로명주소'].str.contains('서울특별시 강동구 양재대로 1330|서울특별시 강동구 양재대로 1329')]

       상호명                       도로명주소         위도          경도
41  다이소둔촌점  서울특별시 강동구 양재대로 1329, (성내동)  37.525194  127.134816
62     다이소         서울특별시 강동구 양재대로 1330  37.524743  127.135964

In [134]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'].str.contains('서울특별시 강동구 양재대로 1330|서울특별시 강동구 양재대로 1329')].index
daiso.drop(idx1, inplace=True)
daiso.shape

(212, 4)

(210, 4)

In [135]:
daiso2[daiso2['도로명'] == '오패산로78길']   # 1038, 336

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
345,오패산로78길,37.637863,127.027119,다이소수유역점,"서울특별시 강북구 도봉로 336, (번동)",37.637677,127.025670,37.6378634115953127.027118616005,단독/다가구
346,오패산로78길,37.637863,127.027119,다이소,"서울특별시 강북구 도봉로 321, (수유동)",37.636934,127.024083,37.6378634115953127.027118616005,단독/다가구
347,오패산로78길,37.637863,127.027119,다이소,"서울특별시 강북구 한천로 1038, (수유동)",37.640175,127.027009,37.6378634115953127.027118616005,단독/다가구

In [136]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'] == '서울특별시 강북구 도봉로 321, (수유동)'].index
daiso.drop(idx1, inplace=True)
daiso.shape

(210, 4)

(209, 4)

In [137]:
daiso2[daiso2['도로명'] == '남부순환로220길']   # 모두 유효

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
525,남부순환로220길,37.480087,126.951627,다이소,"서울특별시 관악구 남부순환로 1840, (봉천동)",37.480357,126.954281,37.480087438492106126.95162744940201,단독/다가구
526,남부순환로220길,37.480087,126.951627,다이소GS슈퍼관악점,"서울특별시 관악구 쑥고개로 111, (봉천동)",37.479328,126.949004,37.480087438492106126.95162744940201,단독/다가구
527,남부순환로220길,37.480087,126.951627,다이소,"서울특별시 관악구 남부순환로 1820, (봉천동)",37.480941,126.952068,37.480087438492106126.95162744940201,단독/다가구

In [138]:
daiso2[daiso2['도로명'] == '답십리로15길']

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
1095,답십리로15길,37.578314,127.047588,다이소청량리점,"서울특별시 동대문구 왕산로40길 2, (전농동)",37.579762,127.044812,37.578313958003704127.047588209695,단독/다가구
1096,답십리로15길,37.578314,127.047588,다이소롯데마트청량리점,서울특별시 동대문구 답십리로11길 30-22,37.579279,127.046471,37.578313958003704127.047588209695,단독/다가구
1097,답십리로15길,37.578314,127.047588,다이소,서울특별시 동대문구 왕산로 200,37.579862,127.046090,37.578313958003704127.047588209695,단독/다가구

In [139]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'] == '서울특별시 동대문구 왕산로 200'].index
daiso.drop(idx1, inplace=True)
daiso.shape

(209, 4)

(208, 4)

In [142]:
# 청량리점 - 서울 동대문구 왕산로 195  
daiso.loc[daiso['상호명'] == '다이소청량리점', '도로명주소'] = '서울특별시 동대문구 왕산로 195'
daiso.loc[daiso['상호명'] == '다이소청량리점', '위도'] = 37.49597231611333
daiso.loc[daiso['상호명'] == '다이소청량리점', '경도'] = 127.0290737797829

In [143]:
# 롯데마트청량리점 - 서울 동대문구 왕산로 214
daiso.loc[daiso['상호명'] == '다이소롯데마트청량리점','도로명주소'] = '서울특별시 동대문구 왕산로 214'
daiso.loc[daiso['상호명'] == '다이소롯데마트청량리점','위도'] = 37.49597231611333
daiso.loc[daiso['상호명'] == '다이소롯데마트청량리점','경도'] = 127.0290737797829

In [144]:
daiso.reset_index(inplace=True)
daiso.drop('index', axis=1, inplace=True)
daiso

           상호명                               도로명주소         위도          경도
0          다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1          다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2          다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3          다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4          다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..         ...                                 ...        ...         ...
203        다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
204        다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
205        다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145
206   다이소 강남본점           서울특별시 강남구 강남대로 372, (역삼동)  37.495972  127.029074
207  다이소 신논현역점           서울특별시 강남구 강남대로 470, (역삼동)  37.504348  127.025051

[208 rows x 4 columns]

In [145]:
daiso.to_csv('data/다이소.csv', index=False, encoding='utf-8')

## 확인3

In [152]:
daiso = pd.read_csv('data/다이소.csv')
daiso

           상호명                               도로명주소         위도          경도
0          다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1          다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2          다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3          다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4          다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..         ...                                 ...        ...         ...
203        다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
204        다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
205        다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145
206   다이소 강남본점           서울특별시 강남구 강남대로 372, (역삼동)  37.495972  127.029074
207  다이소 신논현역점           서울특별시 강남구 강남대로 470, (역삼동)  37.504348  127.025051

[208 rows x 4 columns]

In [153]:
daiso2 = pd.read_csv('data/단독다가구_편의시설_다이소.csv')
daiso2

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
0,개포로15길,37.479780,127.045229,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,37.479780087904295127.04522930859699,단독/다가구
1,강남대로126길,37.510767,127.026095,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,37.5107668926318127.02609510601002,단독/다가구
2,학동로4길,37.509845,127.023563,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,37.509844525862127.023563393784,단독/다가구
3,선릉로125길,37.514731,127.040595,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,37.51473109183271127.040594935781,단독/다가구
4,선릉로125길,37.514731,127.040595,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,37.51473109183271127.040594935781,단독/다가구
...,...,...,...,...,...,...,...,...,...
2293,남부순환로66길,37.523201,126.834598,다이소,"서울특별시 양천구 지양로 78, (신월동)",37.522648,126.833559,37.5232009724075126.834598273108,단독/다가구
2294,영중로3길,37.516757,126.905380,다이소,"서울특별시 영등포구 영중로 21, (영등포동4가)",37.518440,126.905141,37.516757160043895126.905380298881,단독/다가구
2295,한강대로81길,37.542830,126.971612,다이소,"서울특별시 용산구 한강대로77길 12, (갈월동)",37.542197,126.971874,37.5428300515499126.971611514109,단독/다가구
2296,종로46길,37.570724,127.010477,다이소,"서울특별시 중구 장충단로 275, (을지로6가)",37.568877,127.008761,37.5707241856781127.01047746532,단독/다가구
2297,종로46길,37.570724,127.010477,다이소동대문점,"서울특별시 종로구 율곡로 309, (창신동)",37.570266,127.009965,37.5707241856781127.01047746532,단독/다가구

In [154]:
main_data2 = pd.read_csv('data/단독다가구_편의시설추가_v1.csv')
main_data2

           도로명         위도          경도  세탁소_cnt  다이소_cnt
0        논현로6길  37.473561  127.050895        8        0
1       논현로18길  37.477885  127.046338        4        0
2       개포로20길  37.477040  127.048356        6        0
3       선릉로12길  37.483899  127.060991        4        0
4        논현로8길  37.474467  127.051458        9        0
...        ...        ...         ...      ...      ...
12337    종로46길  37.570724  127.010477        3        2
12338    평창42길  37.613282  126.979078        2        0
12339   종로35가길  37.571897  127.004875        2        0
12340   삼일대로6길  37.562391  126.989648        1        0
12341  동일로134길  37.600981  127.080509        6        0

[12342 rows x 5 columns]

In [155]:
main_data2['다이소_cnt'].value_counts().sort_index()

0    10299
1     1803
2      229
3        7
4        4
Name: 다이소_cnt, dtype: int64

In [156]:
main_data2[main_data2['다이소_cnt'] == 4]

         도로명         위도          경도  세탁소_cnt  다이소_cnt
364   테헤란로8길  37.497366  127.031830       11        4
367   테헤란로4길  37.496864  127.030196        5        4
372  강남대로84길  37.496829  127.030112        5        4
438   테헤란로6길  37.497107  127.030986        9        4

In [157]:
daiso2[daiso2['도로명'] == '테헤란로8길']

,도로명,위도,경도,상호명,도로명주소,위도_2,경도_2,lat_long,주택유형
94,테헤란로8길,37.497366,127.03183,다이소청량리점,서울특별시 동대문구 왕산로 195,37.495972,127.029074,37.4973663637385127.03183044357999,단독/다가구
95,테헤란로8길,37.497366,127.03183,다이소,"서울특별시 강남구 테헤란로 109, (역삼동)",37.498817,127.028970,37.4973663637385127.03183044357999,단독/다가구
96,테헤란로8길,37.497366,127.03183,다이소롯데마트청량리점,서울특별시 동대문구 왕산로 214,37.495972,127.029074,37.4973663637385127.03183044357999,단독/다가구
97,테헤란로8길,37.497366,127.03183,다이소 강남본점,"서울특별시 강남구 강남대로 372, (역삼동)",37.495972,127.029074,37.4973663637385127.03183044357999,단독/다가구

In [158]:
# 위경도 잘못됨 - 수정

# 서울특별시 강남구 강남대로 372, (역삼동)
daiso.loc[daiso['상호명'] == '다이소 강남본점', '위도'] = 37.49594529842706
daiso.loc[daiso['상호명'] == '다이소 강남본점', '경도'] = 127.02902288173267

daiso.loc[daiso['도로명주소'] == '서울특별시 강남구 테헤란로 109, (역삼동)', '위도'] = 37.49876995353488
daiso.loc[daiso['도로명주소'] == '서울특별시 강남구 테헤란로 109, (역삼동)', '경도'] = 127.02902397491368

# 청량리점 - 서울 동대문구 왕산로 195  
daiso.loc[daiso['상호명'] == '다이소청량리점', '위도'] = 37.58022449639573
daiso.loc[daiso['상호명'] == '다이소청량리점', '경도'] = 127.0446390379036

# 롯데마트청량리점 - 서울 동대문구 왕산로 214
daiso.loc[daiso['상호명'] == '다이소롯데마트청량리점','위도'] = 37.580385374271735 
daiso.loc[daiso['상호명'] == '다이소롯데마트청량리점','경도'] = 127.04795621878323

In [159]:
daiso.to_csv('data/다이소.csv', index=False, encoding='utf-8')

## 확인4

In [3]:
daiso = pd.read_csv('data/다이소.csv')
daiso

           상호명                               도로명주소         위도          경도
0          다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1          다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2          다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3          다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4          다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..         ...                                 ...        ...         ...
203        다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
204        다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
205        다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145
206   다이소 강남본점           서울특별시 강남구 강남대로 372, (역삼동)  37.495945  127.029023
207  다이소 신논현역점           서울특별시 강남구 강남대로 470, (역삼동)  37.504348  127.025051

[208 rows x 4 columns]

In [4]:
daiso2 = pd.read_csv('data/단독다가구_편의시설_다이소.csv')
daiso2

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,단독/다가구,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,단독/다가구,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
2,단독/다가구,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
3,단독/다가구,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,단독/다가구,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236
...,...,...,...,...,...,...
2293,단독/다가구,37.5232009724075126.834598273108,다이소,"서울특별시 양천구 지양로 78, (신월동)",37.522648,126.833559
2294,단독/다가구,37.516757160043895126.905380298881,다이소,"서울특별시 영등포구 영중로 21, (영등포동4가)",37.518440,126.905141
2295,단독/다가구,37.5428300515499126.971611514109,다이소,"서울특별시 용산구 한강대로77길 12, (갈월동)",37.542197,126.971874
2296,단독/다가구,37.5707241856781127.01047746532,다이소,"서울특별시 중구 장충단로 275, (을지로6가)",37.568877,127.008761
2297,단독/다가구,37.5707241856781127.01047746532,다이소동대문점,"서울특별시 종로구 율곡로 309, (창신동)",37.570266,127.009965

In [13]:
main_data2 = pd.read_csv('data/단독다가구_편의시설추가_v1.csv')
main_data2

           도로명         위도          경도  세탁소_cnt  다이소_cnt
0        논현로6길  37.473561  127.050895        8        0
1       논현로18길  37.477885  127.046338        4        0
2       개포로20길  37.477040  127.048356        6        0
3       선릉로12길  37.483899  127.060991        4        0
4        논현로8길  37.474467  127.051458        9        0
...        ...        ...         ...      ...      ...
12337    종로46길  37.570724  127.010477        2        2
12338    평창42길  37.613282  126.979078        2        0
12339   종로35가길  37.571897  127.004875        2        0
12340   삼일대로6길  37.562391  126.989648        1        0
12341  동일로134길  37.600981  127.080509        6        0

[12342 rows x 5 columns]

In [14]:
main_data2['위도'] = main_data2['위도'].astype(str)
main_data2['경도'] = main_data2['경도'].astype(str)
main_data2['lat_long'] = main_data2['위도']+main_data2['경도']

In [15]:
main_data2['다이소_cnt'].value_counts().sort_index()

0    10286
1     1818
2      234
3        4
Name: 다이소_cnt, dtype: int64

In [16]:
main_data2[main_data2['다이소_cnt'] == 3]

,도로명,위도,경도,세탁소_cnt,다이소_cnt,lat_long
1023,삼양로47길,37.6228189235298,127.01762055711399,1,3,37.6228189235298127.01762055711399
2074,남부순환로220길,37.480087438492106,126.95162744940201,9,3,37.480087438492106126.95162744940201
2155,행운1나길,37.4820335630921,126.95514277862699,7,3,37.4820335630921126.95514277862699
2252,봉천로53길,37.4825299675365,126.95430332622699,8,3,37.4825299675365126.95430332622699

In [20]:
daiso2[daiso2['lat_long'] == '37.6228189235298127.01762055711399']   #234,247

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
227,단독/다가구,37.6228189235298127.01762055711399,다이소롯데마트삼양점,"서울특별시 강북구 삼양로 247, (미아동)",37.625510,127.017729
228,단독/다가구,37.6228189235298127.01762055711399,다이소삼양시장점,"서울특별시 강북구 삼양로 234, (미아동)",37.624311,127.018697
229,단독/다가구,37.6228189235298127.01762055711399,다이소,"서울특별시 강북구 솔샘로 233, (미아동)",37.620413,127.019076

In [18]:
print(daiso.shape)
idx1 = daiso[daiso['도로명주소'] == '서울특별시 강북구 솔샘로 233, (미아동)'].index
daiso.drop(idx1, inplace=True)
daiso.shape

(208, 4)

(207, 4)

In [21]:
daiso2[daiso2['lat_long'] == '37.480087438492106126.95162744940201']

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
492,단독/다가구,37.480087438492106126.95162744940201,다이소,"서울특별시 관악구 남부순환로 1840, (봉천동)",37.480357,126.954281
493,단독/다가구,37.480087438492106126.95162744940201,다이소GS슈퍼관악점,"서울특별시 관악구 쑥고개로 111, (봉천동)",37.479328,126.949004
494,단독/다가구,37.480087438492106126.95162744940201,다이소,"서울특별시 관악구 남부순환로 1820, (봉천동)",37.480941,126.952068

In [22]:
daiso.loc[daiso['도로명주소'] == '서울특별시 관악구 남부순환로 1840, (봉천동)', '상호명'] = '다이소 서울대입구점'
daiso.loc[daiso['도로명주소'] == '서울특별시 관악구 남부순환로 1820, (봉천동)', '상호명'] = '다이소 라붐아울렛관악점'

In [24]:
daiso2[daiso2['lat_long'] == '37.4820335630921126.95514277862699']

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
528,단독/다가구,37.4820335630921126.95514277862699,다이소봉천1호점,"서울특별시 관악구 관악로 218, (봉천동)",37.484087,126.955235
529,단독/다가구,37.4820335630921126.95514277862699,다이소,"서울특별시 관악구 남부순환로 1840, (봉천동)",37.480357,126.954281
530,단독/다가구,37.4820335630921126.95514277862699,다이소,"서울특별시 관악구 남부순환로 1820, (봉천동)",37.480941,126.952068

In [25]:
daiso.reset_index(inplace=True)
daiso.drop('index', axis=1, inplace=True)
daiso

           상호명                               도로명주소         위도          경도
0          다이소           서울특별시 서초구 서초대로 323, (서초동)  37.494878  127.016797
1          다이소            서울특별시 광진구 강변역로 50, (구의동)  37.534530  127.094167
2          다이소            서울특별시 마포구 신촌로 270, (아현동)  37.557121  126.955699
3          다이소            서울특별시 영등포구 신길로 39, (대림동)  37.495957  126.907765
4          다이소  서울특별시 강남구 언주로30길 13, (도곡동, 대림아크로빌)  37.488136  127.050661
..         ...                                 ...        ...         ...
202        다이소            서울특별시 마포구 양화로 182, (동교동)  37.557751  126.925572
203        다이소                    서울특별시 송파구 거마로 12  37.493893  127.144982
204        다이소      서울특별시 강남구 헌릉로569길 21-36, (세곡동)  37.466375  127.100145
205   다이소 강남본점           서울특별시 강남구 강남대로 372, (역삼동)  37.495945  127.029023
206  다이소 신논현역점           서울특별시 강남구 강남대로 470, (역삼동)  37.504348  127.025051

[207 rows x 4 columns]

In [26]:
daiso.to_csv('data/다이소.csv', index=False, encoding='utf-8')