<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#데이터-병합" data-toc-modified-id="데이터-병합-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>데이터 병합</a></span></li><li><span><a href="#편의시설별--&amp;--도로명-drop-&amp;-컬럼-영문명" data-toc-modified-id="편의시설별--&amp;--도로명-drop-&amp;-컬럼-영문명-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>편의시설별  &amp;  도로명 drop &amp; 컬럼 영문명</a></span><ul class="toc-item"><li><span><a href="#세탁소" data-toc-modified-id="세탁소-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>세탁소</a></span></li><li><span><a href="#다이소" data-toc-modified-id="다이소-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>다이소</a></span></li><li><span><a href="#실내운동시설" data-toc-modified-id="실내운동시설-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>실내운동시설</a></span></li><li><span><a href="#컬럼-순서-변경" data-toc-modified-id="컬럼-순서-변경-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>컬럼 순서 변경</a></span></li><li><span><a href="#단독/다가구-->-단독다가구" data-toc-modified-id="단독/다가구-->-단독다가구-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>단독/다가구 -&gt; 단독다가구</a></span></li></ul></li><li><span><a href="#3개-주택-유형별---counting-columns-&amp;-컬럼-영문명" data-toc-modified-id="3개-주택-유형별---counting-columns-&amp;-컬럼-영문명-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>3개 주택 유형별 - counting columns &amp; 컬럼 영문명</a></span><ul class="toc-item"><li><span><a href="#단독/다가구" data-toc-modified-id="단독/다가구-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>단독/다가구</a></span></li><li><span><a href="#오피스텔" data-toc-modified-id="오피스텔-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>오피스텔</a></span></li><li><span><a href="#연립/다세대" data-toc-modified-id="연립/다세대-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>연립/다세대</a></span></li><li><span><a href="#he_num-->-gym_num" data-toc-modified-id="he_num-->-gym_num-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>he_num -&gt; gym_num</a></span></li></ul></li></ul></div>

In [1]:
import numpy as np
import pandas as pd

# 데이터 병합

# 편의시설별  &  도로명 drop & 컬럼 영문명

## 세탁소
- 단독다가구_편의시설_세탁소.csv
- 오피스텔_편의시설_세탁소.csv
- 연립_편의시설_세탁소.csv

In [2]:
laundry1 = pd.read_csv('data/단독다가구_편의시설_세탁소.csv')
laundry1

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,단독/다가구,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,단독/다가구,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,단독/다가구,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922
3,단독/다가구,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157
4,단독/다가구,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091
...,...,...,...,...,...,...
59700,단독/다가구,37.6009811871792127.080509377973,동아세탁소,"서울특별시 중랑구 동일로130길 52, (중화동)",37.600166,127.082942
59701,단독/다가구,37.6009811871792127.080509377973,백두산세탁소,"서울특별시 중랑구 동일로136길 25, (중화동)",37.602574,127.080817
59702,단독/다가구,37.6009811871792127.080509377973,금성사,"서울특별시 중랑구 동일로130길 19, (중화동)",37.599828,127.081100
59703,단독/다가구,37.6009811871792127.080509377973,부흥사,"서울특별시 중랑구 봉화산로21길 14-7, (중화동)",37.602576,127.082324
59704,단독/다가구,37.6009811871792127.080509377973,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136

In [3]:
laundry2 = pd.read_csv('data/오피스텔_편의시설_세탁소.csv')
laundry2

,주택유형,도로명,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,오피스텔,개포로 213,37.4787447572028127.046112568695,현대컴퓨터세탁소,"서울특별시 강남구 논현로16길 23, (개포동)",37.476922,127.047886
1,오피스텔,개포로 213,37.4787447572028127.046112568695,우리세탁소,"서울특별시 강남구 개포로25길 12, (개포동)",37.479728,127.048280
2,오피스텔,개포로 213,37.4787447572028127.046112568695,수림세탁소,"서울특별시 강남구 논현로18길 10-14, (개포동)",37.477018,127.046291
3,오피스텔,개포로 213,37.4787447572028127.046112568695,트윈세탁소,"서울특별시 서초구 마방로10길 25, (양재동)",37.476587,127.044261
4,오피스텔,개포로 623,37.494341198165127.07964775319401,크린스피드,"서울특별시 강남구 개포로 623, (개포동)",37.494330,127.079635
...,...,...,...,...,...,...,...
16923,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,개울가에빨래터,"서울특별시 중랑구 동일로140길 16, (중화동)",37.604145,127.080062
16924,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034
16925,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,백두산세탁소,"서울특별시 중랑구 동일로136길 25, (중화동)",37.602574,127.080817
16926,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136
16927,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316

In [4]:
laundry2.drop('도로명', axis=1, inplace=True)
laundry2.head()

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,오피스텔,37.4787447572028127.046112568695,현대컴퓨터세탁소,"서울특별시 강남구 논현로16길 23, (개포동)",37.476922,127.047886
1,오피스텔,37.4787447572028127.046112568695,우리세탁소,"서울특별시 강남구 개포로25길 12, (개포동)",37.479728,127.048280
2,오피스텔,37.4787447572028127.046112568695,수림세탁소,"서울특별시 강남구 논현로18길 10-14, (개포동)",37.477018,127.046291
3,오피스텔,37.4787447572028127.046112568695,트윈세탁소,"서울특별시 서초구 마방로10길 25, (양재동)",37.476587,127.044261
4,오피스텔,37.494341198165127.07964775319401,크린스피드,"서울특별시 강남구 개포로 623, (개포동)",37.494330,127.079635

In [5]:
laundry3_1 = pd.read_csv('data/연립_편의시설_세탁소(1).csv')
laundry3_1

,주택유형,도로명,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,연립,논현로 10,37.4723876864126127.050510865064,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,연립,논현로 10,37.4723876864126127.050510865064,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,연립,논현로 10,37.4723876864126127.050510865064,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091
3,연립,논현로 10,37.4723876864126127.050510865064,크린에이드,"서울특별시 강남구 논현로8길 7, (개포동)",37.473845,127.049599
4,연립,논현로 10,37.4723876864126127.050510865064,희세탁,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
...,...,...,...,...,...,...,...
240051,연립,봉은사로48길 29,37.5076759407994127.042185276292,베스트크리닝,"서울특별시 강남구 언주로108길 19, (역삼동)",37.508600,127.040799
240052,연립,봉은사로48길 29,37.5076759407994127.042185276292,매직크린월드,"서울특별시 강남구 테헤란로51길 43, (역삼동)",37.505708,127.044173
240053,연립,언주로108길 16,37.5083587967326127.040688752648,조은세탁,"서울특별시 강남구 봉은사로48길 46, (역삼동, IT타워)",37.506861,127.042948
240054,연립,언주로108길 16,37.5083587967326127.040688752648,신광세탁소,"서울특별시 강남구 언주로108길 19, (역삼동)",37.508600,127.040799
240055,연립,언주로108길 16,37.5083587967326127.040688752648,다성세탁소,"서울특별시 강남구 선릉로107길 30, (역삼동)",37.508896,127.041723

In [6]:
laundry3_2 = pd.read_csv('data/연립_편의시설_세탁소(2).csv')
laundry3_2

,주택유형,도로명,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,연립,봉은사로48길 29,37.5076759407994127.042185276292,조은세탁,"서울특별시 강남구 봉은사로48길 46, (역삼동, IT타워)",37.506861,127.042948
1,연립,봉은사로48길 29,37.5076759407994127.042185276292,신광세탁소,"서울특별시 강남구 언주로108길 19, (역삼동)",37.508600,127.040799
2,연립,봉은사로48길 29,37.5076759407994127.042185276292,다성세탁소,"서울특별시 강남구 선릉로107길 30, (역삼동)",37.508896,127.041723
3,연립,봉은사로48길 29,37.5076759407994127.042185276292,백양사,"서울특별시 강남구 테헤란로51길 43, (역삼동)",37.505708,127.044173
4,연립,봉은사로48길 29,37.5076759407994127.042185276292,선능세탁소,"서울특별시 강남구 봉은사로50길 46, (역삼동)",37.507505,127.044614
...,...,...,...,...,...,...,...
195127,연립,봉화산로7길 12,37.602111974225394127.076931067454,제일사,"서울특별시 중랑구 봉화산로3길 61, (중화동)",37.604360,127.075393
195128,연립,봉화산로7길 12,37.602111974225394127.076931067454,우리사,"서울특별시 중랑구 중랑역로 111, (중화동)",37.603419,127.077183
195129,연립,봉화산로7길 12,37.602111974225394127.076931067454,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034
195130,연립,봉화산로7길 12,37.602111974225394127.076931067454,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136
195131,연립,봉화산로7길 12,37.602111974225394127.076931067454,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316

In [7]:
laundry3_1.shape[0] + laundry3_2.shape[0]

435188

In [8]:
# 연립 세탁소 데이터 합치기
laundry3 = pd.concat([laundry3_1,laundry3_2])
laundry3

,주택유형,도로명,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,연립,논현로 10,37.4723876864126127.050510865064,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,연립,논현로 10,37.4723876864126127.050510865064,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,연립,논현로 10,37.4723876864126127.050510865064,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091
3,연립,논현로 10,37.4723876864126127.050510865064,크린에이드,"서울특별시 강남구 논현로8길 7, (개포동)",37.473845,127.049599
4,연립,논현로 10,37.4723876864126127.050510865064,희세탁,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
...,...,...,...,...,...,...,...
195127,연립,봉화산로7길 12,37.602111974225394127.076931067454,제일사,"서울특별시 중랑구 봉화산로3길 61, (중화동)",37.604360,127.075393
195128,연립,봉화산로7길 12,37.602111974225394127.076931067454,우리사,"서울특별시 중랑구 중랑역로 111, (중화동)",37.603419,127.077183
195129,연립,봉화산로7길 12,37.602111974225394127.076931067454,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034
195130,연립,봉화산로7길 12,37.602111974225394127.076931067454,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136
195131,연립,봉화산로7길 12,37.602111974225394127.076931067454,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316

In [9]:
laundry3[laundry3.duplicated()]

,주택유형,도로명,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,연립,봉은사로48길 29,37.5076759407994127.042185276292,조은세탁,"서울특별시 강남구 봉은사로48길 46, (역삼동, IT타워)",37.506861,127.042948
1,연립,봉은사로48길 29,37.5076759407994127.042185276292,신광세탁소,"서울특별시 강남구 언주로108길 19, (역삼동)",37.508600,127.040799
2,연립,봉은사로48길 29,37.5076759407994127.042185276292,다성세탁소,"서울특별시 강남구 선릉로107길 30, (역삼동)",37.508896,127.041723
3,연립,봉은사로48길 29,37.5076759407994127.042185276292,백양사,"서울특별시 강남구 테헤란로51길 43, (역삼동)",37.505708,127.044173
4,연립,봉은사로48길 29,37.5076759407994127.042185276292,선능세탁소,"서울특별시 강남구 봉은사로50길 46, (역삼동)",37.507505,127.044614
5,연립,봉은사로48길 29,37.5076759407994127.042185276292,베스트크리닝,"서울특별시 강남구 언주로108길 19, (역삼동)",37.508600,127.040799
6,연립,봉은사로48길 29,37.5076759407994127.042185276292,매직크린월드,"서울특별시 강남구 테헤란로51길 43, (역삼동)",37.505708,127.044173
7,연립,언주로108길 16,37.5083587967326127.040688752648,조은세탁,"서울특별시 강남구 봉은사로48길 46, (역삼동, IT타워)",37.506861,127.042948
8,연립,언주로108길 16,37.5083587967326127.040688752648,신광세탁소,"서울특별시 강남구 언주로108길 19, (역삼동)",37.508600,127.040799
9,연립,언주로108길 16,37.5083587967326127.040688752648,다성세탁소,"서울특별시 강남구 선릉로107길 30, (역삼동)",37.508896,127.041723

In [10]:
print(laundry3.shape)
laundry3.drop_duplicates(inplace=True)
laundry3.shape

(435188, 7)

(435178, 7)

In [11]:
laundry3.drop('도로명', axis=1, inplace=True)
laundry3.head()

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,연립,37.4723876864126127.050510865064,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,연립,37.4723876864126127.050510865064,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,연립,37.4723876864126127.050510865064,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091
3,연립,37.4723876864126127.050510865064,크린에이드,"서울특별시 강남구 논현로8길 7, (개포동)",37.473845,127.049599
4,연립,37.4723876864126127.050510865064,희세탁,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090

In [12]:
laundry1.shape, laundry2.shape, laundry3.shape

((59705, 6), (16928, 6), (435178, 6))

In [13]:
laundry1.shape[0] + laundry2.shape[0] +  laundry3.shape[0]

511811

In [14]:
laundry_total = pd.concat([laundry1,laundry2,laundry3])
laundry_total

,주택유형,lat_long,상호명,도로명주소,세탁소_위도,세탁소_경도
0,단독/다가구,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,단독/다가구,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,단독/다가구,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922
3,단독/다가구,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157
4,단독/다가구,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091
...,...,...,...,...,...,...
195127,연립,37.602111974225394127.076931067454,제일사,"서울특별시 중랑구 봉화산로3길 61, (중화동)",37.604360,127.075393
195128,연립,37.602111974225394127.076931067454,우리사,"서울특별시 중랑구 중랑역로 111, (중화동)",37.603419,127.077183
195129,연립,37.602111974225394127.076931067454,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034
195130,연립,37.602111974225394127.076931067454,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136
195131,연립,37.602111974225394127.076931067454,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316

In [15]:
laundry_total.isnull().sum()

주택유형        0
lat_long    0
상호명         0
도로명주소       0
세탁소_위도      0
세탁소_경도      0
dtype: int64

In [16]:
laundry_total.columns

Index(['주택유형', 'lat_long', '상호명', '도로명주소', '세탁소_위도', '세탁소_경도'], dtype='object')

In [17]:
# 영문 변경
laundry_total.columns = ['house_kind', 'criteria', 'name', 'address', 'latitude', 'longitude']
laundry_total.head()

,house_kind,criteria,name,address,latitude,longitude
0,단독/다가구,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,단독/다가구,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,단독/다가구,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922
3,단독/다가구,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157
4,단독/다가구,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091

In [18]:
# 순서 변경
laundry_total = laundry_total[['criteria', 'name', 'address', 'latitude', 'longitude', 'house_kind']].copy()
laundry_total.head()

,criteria,name,address,latitude,longitude,house_kind
0,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631,단독/다가구
1,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090,단독/다가구
2,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922,단독/다가구
3,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157,단독/다가구
4,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091,단독/다가구

In [19]:
laundry_total[laundry_total.duplicated()]

,criteria,name,address,latitude,longitude,house_kind
49,37.476569650314104127.047651596997,현대컴퓨터세탁소,"서울특별시 강남구 논현로16길 23, (개포동)",37.476922,127.047886,단독/다가구
50,37.476569650314104127.047651596997,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922,단독/다가구
51,37.476569650314104127.047651596997,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157,단독/다가구
52,37.476569650314104127.047651596997,수림세탁소,"서울특별시 강남구 논현로18길 10-14, (개포동)",37.477018,127.046291,단독/다가구
53,37.476569650314104127.047651596997,트윈세탁소,"서울특별시 서초구 마방로10길 25, (양재동)",37.476587,127.044261,단독/다가구
...,...,...,...,...,...,...
195083,37.6033100844058127.076138448167,제일사,"서울특별시 중랑구 봉화산로3길 61, (중화동)",37.604360,127.075393,연립
195084,37.6033100844058127.076138448167,우리사,"서울특별시 중랑구 중랑역로 111, (중화동)",37.603419,127.077183,연립
195085,37.6033100844058127.076138448167,백양세탁소,"서울특별시 중랑구 봉화산로3길 80, (묵동)",37.605136,127.075452,연립
195086,37.6033100844058127.076138448167,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034,연립
195087,37.6033100844058127.076138448167,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316,연립

In [20]:
print(laundry_total.shape)
laundry_total.drop_duplicates(inplace=True)
laundry_total.shape

(511811, 6)

(497115, 6)

In [21]:
laundry_total.reset_index(inplace=True)
laundry_total.drop('index',axis=1,inplace=True)
laundry_total.head()

,criteria,name,address,latitude,longitude,house_kind
0,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631,단독/다가구
1,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090,단독/다가구
2,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922,단독/다가구
3,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157,단독/다가구
4,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091,단독/다가구

In [22]:
laundry_total.to_csv('data/laundry.csv', index=False, encoding='utf-8')

## 다이소
- 단독다가구_편의시설_다이소.csv
- 오피스텔_편의시설_다이소.csv
- 연립_편의시설_다이소.csv

In [23]:
daiso1 = pd.read_csv('data/단독다가구_편의시설_다이소.csv')
daiso1

,주택유형,도로명,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,단독/다가구,개포로15길,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,단독/다가구,강남대로126길,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
2,단독/다가구,학동로4길,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
3,단독/다가구,선릉로125길,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,단독/다가구,선릉로125길,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236
...,...,...,...,...,...,...,...
2266,단독/다가구,남부순환로66길,37.5232009724075126.834598273108,다이소,"서울특별시 양천구 지양로 78, (신월동)",37.522648,126.833559
2267,단독/다가구,영중로3길,37.516757160043895126.905380298881,다이소,"서울특별시 영등포구 영중로 21, (영등포동4가)",37.518440,126.905141
2268,단독/다가구,한강대로81길,37.5428300515499126.971611514109,다이소,"서울특별시 용산구 한강대로77길 12, (갈월동)",37.542197,126.971874
2269,단독/다가구,종로46길,37.5707241856781127.01047746532,다이소,"서울특별시 중구 장충단로 275, (을지로6가)",37.568877,127.008761
2270,단독/다가구,종로46길,37.5707241856781127.01047746532,다이소동대문점,"서울특별시 종로구 율곡로 309, (창신동)",37.570266,127.009965

In [24]:
daiso1.drop('도로명', axis=1, inplace=True)
daiso1.head()

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,단독/다가구,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,단독/다가구,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
2,단독/다가구,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
3,단독/다가구,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,단독/다가구,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236

In [25]:
daiso2 = pd.read_csv('data/오피스텔_편의시설_다이소.csv')
daiso2

,주택유형,도로명,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,오피스텔,선릉로129길 3-4,37.51610414689579127.041071323525,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
1,오피스텔,선릉로129길 3-4,37.51610414689579127.041071323525,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236
2,오피스텔,학동로 342,37.5167560126387127.040841265738,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
3,오피스텔,학동로 342,37.5167560126387127.040841265738,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236
4,오피스텔,학동로 338,37.5165402749359127.04016223452,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
...,...,...,...,...,...,...,...
1239,오피스텔,면목로90길 9,37.5945655252538127.086584864897,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314
1240,오피스텔,중랑천로10길 85,37.5927999533509127.077632111372,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193
1241,오피스텔,면목로92길 28,37.59520254398279127.08741628398701,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314
1242,오피스텔,면목로94길 9,37.595432596612795127.086397221943,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314
1243,오피스텔,중랑천로14길 48,37.594423584999205127.07533835216499,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193

In [26]:
daiso2.drop('도로명', axis=1, inplace=True)
daiso2.head()

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,오피스텔,37.51610414689579127.041071323525,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
1,오피스텔,37.51610414689579127.041071323525,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236
2,오피스텔,37.5167560126387127.040841265738,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
3,오피스텔,37.5167560126387127.040841265738,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236
4,오피스텔,37.5165402749359127.04016223452,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778

In [27]:
daiso3 = pd.read_csv('data/연립_편의시설_다이소.csv')
daiso3

,주택유형,도로명,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,연립,개포로15길 25,37.4801009360233127.045467266355,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,연립,개포로15길 28-4,37.4798444783213127.04554647854602,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
2,연립,개포로15길 32-3,37.4801575682925127.04626968537,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
3,연립,학동로53길 27,37.5188546019897127.039599468218,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,연립,강남대로128길 60-2,37.5116750444976127.026367784389,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
...,...,...,...,...,...,...,...
12768,연립,동일로126가길 33,37.59420618445127.08246857864701,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314
12769,연립,중랑천로12길 45-8,37.59324539241229127.075426050395,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193
12770,연립,중랑천로10길 39-5,37.592329902936896127.075130617387,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193
12771,연립,동일로109가길 16,37.5927118834022127.078919781706,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193
12772,연립,중랑천로10길,37.59223637556529127.075841941299,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193

In [28]:
daiso3.drop('도로명', axis=1, inplace=True)
daiso3.head()

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,연립,37.4801009360233127.045467266355,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,연립,37.4798444783213127.04554647854602,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
2,연립,37.4801575682925127.04626968537,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
3,연립,37.5188546019897127.039599468218,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,연립,37.5116750444976127.026367784389,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804

In [29]:
daiso1.shape, daiso2.shape, daiso3.shape

((2271, 6), (1244, 6), (12773, 6))

In [30]:
daiso1.shape[0] + daiso2.shape[0] +  daiso3.shape[0]

16288

In [31]:
daiso_total = pd.concat([daiso1,daiso2, daiso3])
daiso_total

,주택유형,lat_long,상호명,도로명주소,다이소_위도,다이소_경도
0,단독/다가구,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,단독/다가구,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
2,단독/다가구,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
3,단독/다가구,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,단독/다가구,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236
...,...,...,...,...,...,...
12768,연립,37.59420618445127.08246857864701,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314
12769,연립,37.59324539241229127.075426050395,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193
12770,연립,37.592329902936896127.075130617387,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193
12771,연립,37.5927118834022127.078919781706,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193
12772,연립,37.59223637556529127.075841941299,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193

In [32]:
daiso_total.isnull().sum()

주택유형        0
lat_long    0
상호명         0
도로명주소       0
다이소_위도      0
다이소_경도      0
dtype: int64

In [33]:
daiso_total.columns

Index(['주택유형', 'lat_long', '상호명', '도로명주소', '다이소_위도', '다이소_경도'], dtype='object')

In [34]:
# 영문 변경
daiso_total.columns = ['house_kind', 'criteria', 'name', 'address', 'latitude', 'longitude']
daiso_total.head()

,house_kind,criteria,name,address,latitude,longitude
0,단독/다가구,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,단독/다가구,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
2,단독/다가구,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
3,단독/다가구,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,단독/다가구,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236

In [35]:
# 순서 변경
daiso_total = daiso_total[['criteria', 'name', 'address', 'latitude', 'longitude', 'house_kind']].copy()
daiso_total.head()

,criteria,name,address,latitude,longitude,house_kind
0,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,단독/다가구
1,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,단독/다가구
2,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,단독/다가구
3,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,단독/다가구
4,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,단독/다가구

In [36]:
daiso_total[daiso_total.duplicated()]

,criteria,name,address,latitude,longitude,house_kind
164,37.5373025801758127.124898373167,다이소,"서울특별시 강동구 천호대로 997, (천호동)",37.538494,127.125090,단독/다가구
165,37.5373025801758127.124898373167,다이소천호2호점,"서울특별시 강동구 올림픽로 630, (성내동)",37.537743,127.123424,단독/다가구
183,37.5397486718879127.124587784277,다이소,"서울특별시 강동구 천호대로 997, (천호동)",37.538494,127.125090,단독/다가구
184,37.5397486718879127.124587784277,다이소천호2호점,"서울특별시 강동구 올림픽로 630, (성내동)",37.537743,127.123424,단독/다가구
186,37.538833584295794127.12790501077801,다이소,"서울특별시 강동구 천호대로 997, (천호동)",37.538494,127.125090,단독/다가구
...,...,...,...,...,...,...
12732,37.6171192092136126.921698123391,다이소,"서울특별시 은평구 통일로 842, (불광동)",37.618683,126.922045,연립
12754,37.5967690112045126.916828229037,다이소응암역점,"서울특별시 은평구 은평로 68, (신사동)",37.598753,126.915278,연립
12765,37.5952277809094127.086425067061,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,연립
12766,37.5952277809094127.086425067061,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,연립
12768,37.59420618445127.08246857864701,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,연립

In [37]:
print(daiso_total.shape)
daiso_total.drop_duplicates(inplace=True)
daiso_total.shape

(16288, 6)

(15842, 6)

In [38]:
daiso_total.to_csv('data/daiso.csv', index=False, encoding='utf-8')

## 실내운동시설
- 단독다가구_편의시설_실내운동시설.csv
- 오피스텔_편의시설_실내운동시설.csv
- 연립_편의시설_실내운동시설.csv

In [2]:
health1 = pd.read_csv('data/단독다가구_편의시설_실내운동시설.csv')
health1

,주택유형,도로명,lat_long,상호명,도로명주소,실내운동시설_위도,실내운동시설_경도
0,단독/다가구,논현로6길,37.4735609971211127.050895232485,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383
1,단독/다가구,논현로6길,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411
2,단독/다가구,논현로18길,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
3,단독/다가구,논현로18길,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272
4,단독/다가구,논현로18길,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927
...,...,...,...,...,...,...,...
29931,단독/다가구,삼일대로6길,37.5623907050701126.989647864522,(주)더한 오리엔스 호텔 & 레지던스,서울특별시 중구 삼일대로2길 50 지하2층 (예장동),37.560057,126.991280
29932,단독/다가구,삼일대로6길,37.5623907050701126.989647864522,이로운 퍼스널 트레이닝 스튜디오,서울특별시 중구 퇴계로31길 16 3층 (충무로3가 우형빌딩),37.561893,126.992407
29933,단독/다가구,동일로134길,37.6009811871792127.080509377973,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691
29934,단독/다가구,동일로134길,37.6009811871792127.080509377973,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729
29935,단독/다가구,동일로134길,37.6009811871792127.080509377973,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309

In [3]:
health1.drop('도로명', axis=1, inplace=True)
health1.head()

,주택유형,lat_long,상호명,도로명주소,실내운동시설_위도,실내운동시설_경도
0,단독/다가구,37.4735609971211127.050895232485,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383
1,단독/다가구,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411
2,단독/다가구,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
3,단독/다가구,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272
4,단독/다가구,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927

In [4]:
health2 = pd.read_csv('data/오피스텔_편의시설_실내운동시설.csv')
health2

,주택유형,도로명,lat_long,상호명,도로명주소,실내운동시설_위도,실내운동시설_경도
0,오피스텔,개포로 213,37.4787447572028127.046112568695,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
1,오피스텔,개포로 213,37.4787447572028127.046112568695,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927
2,오피스텔,개포로 213,37.4787447572028127.046112568695,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779
3,오피스텔,개포로 213,37.4787447572028127.046112568695,알통맨 휘트니스크럽(119),서울특별시 강남구 논현로 80 (개포동),37.477257,127.045477
4,오피스텔,개포로 213,37.4787447572028127.046112568695,365day 24hour PT&태닝GYM,서울특별시 강남구 개포로 233 유림빌딩 (개포동),37.479059,127.048115
...,...,...,...,...,...,...,...
14873,오피스텔,중랑천로14길 48,37.594423584999205127.07533835216499,월빙짐 휘트니스,서울특별시 중랑구 망우로32길 37 (면목동),37.592200,127.077164
14874,오피스텔,중랑천로14길 48,37.594423584999205127.07533835216499,굿모닝 휘트니스,서울특별시 중랑구 망우로 186 (상봉동),37.592961,127.073471
14875,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691
14876,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729
14877,오피스텔,봉화산로15길 8,37.602057932739896127.07854530363599,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309

In [5]:
health2.drop('도로명', axis=1, inplace=True)
health2.head()

,주택유형,lat_long,상호명,도로명주소,실내운동시설_위도,실내운동시설_경도
0,오피스텔,37.4787447572028127.046112568695,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
1,오피스텔,37.4787447572028127.046112568695,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927
2,오피스텔,37.4787447572028127.046112568695,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779
3,오피스텔,37.4787447572028127.046112568695,알통맨 휘트니스크럽(119),서울특별시 강남구 논현로 80 (개포동),37.477257,127.045477
4,오피스텔,37.4787447572028127.046112568695,365day 24hour PT&태닝GYM,서울특별시 강남구 개포로 233 유림빌딩 (개포동),37.479059,127.048115

In [6]:
health3 = pd.read_csv('data/연립_편의시설_실내운동시설.csv')
health3

,주택유형,도로명,lat_long,상호명,도로명주소,실내운동시설_위도,실내운동시설_경도
0,연립,논현로8길 63,37.475312650290796127.05354614244301,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383
1,연립,논현로8길 63,37.475312650290796127.05354614244301,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411
2,연립,개포로26길 16,37.4780340050176127.049108807588,365day 24hour PT&태닝GYM,서울특별시 강남구 개포로 233 유림빌딩 (개포동),37.479059,127.048115
3,연립,논현로18길 18-5,37.4777378645956127.046836978486,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
4,연립,논현로18길 18-5,37.4777378645956127.046836978486,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927
...,...,...,...,...,...,...,...
197031,연립,봉화산로26길 44-12,37.5999780330716127.083096640763,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309
197032,연립,중랑역로29길 11,37.60240936322629127.07683556889799,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691
197033,연립,중랑역로29길 11,37.60240936322629127.07683556889799,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729
197034,연립,봉화산로7길 12,37.602111974225394127.076931067454,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691
197035,연립,봉화산로7길 12,37.602111974225394127.076931067454,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729

In [7]:
health3.drop('도로명', axis=1, inplace=True)
health3.head()

,주택유형,lat_long,상호명,도로명주소,실내운동시설_위도,실내운동시설_경도
0,연립,37.475312650290796127.05354614244301,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383
1,연립,37.475312650290796127.05354614244301,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411
2,연립,37.4780340050176127.049108807588,365day 24hour PT&태닝GYM,서울특별시 강남구 개포로 233 유림빌딩 (개포동),37.479059,127.048115
3,연립,37.4777378645956127.046836978486,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
4,연립,37.4777378645956127.046836978486,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927

In [8]:
health1.shape, health2.shape, health3.shape

((29936, 6), (14878, 6), (197036, 6))

In [9]:
health1.shape[0] + health2.shape[0] +  health3.shape[0]

241850

In [10]:
health_total = pd.concat([health1,health2,health3])
health_total

,주택유형,lat_long,상호명,도로명주소,실내운동시설_위도,실내운동시설_경도
0,단독/다가구,37.4735609971211127.050895232485,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383
1,단독/다가구,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411
2,단독/다가구,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
3,단독/다가구,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272
4,단독/다가구,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927
...,...,...,...,...,...,...
197031,연립,37.5999780330716127.083096640763,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309
197032,연립,37.60240936322629127.07683556889799,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691
197033,연립,37.60240936322629127.07683556889799,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729
197034,연립,37.602111974225394127.076931067454,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691
197035,연립,37.602111974225394127.076931067454,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729

In [11]:
health_total.isnull().sum()

주택유형         0
lat_long     0
상호명          0
도로명주소        0
실내운동시설_위도    0
실내운동시설_경도    0
dtype: int64

In [12]:
health_total.columns

Index(['주택유형', 'lat_long', '상호명', '도로명주소', '실내운동시설_위도', '실내운동시설_경도'], dtype='object')

In [13]:
# 영문 변경
health_total.columns = ['house_kind', 'criteria', 'name', 'address', 'latitude', 'longitude']
health_total.head()

,house_kind,criteria,name,address,latitude,longitude
0,단독/다가구,37.4735609971211127.050895232485,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383
1,단독/다가구,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411
2,단독/다가구,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
3,단독/다가구,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272
4,단독/다가구,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927

In [14]:
# 순서 변경
health_total = health_total[['criteria', 'name', 'address', 'latitude', 'longitude', 'house_kind']].copy()
health_total.head()

,criteria,name,address,latitude,longitude,house_kind
0,37.4735609971211127.050895232485,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383,단독/다가구
1,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411,단독/다가구
2,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463,단독/다가구
3,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272,단독/다가구
4,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927,단독/다가구

In [15]:
health_total[health_total.duplicated()]

,criteria,name,address,latitude,longitude,house_kind
33,37.476569650314104127.047651596997,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463,단독/다가구
34,37.476569650314104127.047651596997,멤버쉽휘트니스플레이바이어스,"서울특별시 강남구 논현로10길 29, (개포동)",37.475311,127.050383,단독/다가구
35,37.476569650314104127.047651596997,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779,단독/다가구
36,37.476569650314104127.047651596997,알통맨 휘트니스크럽(119),서울특별시 강남구 논현로 80 (개포동),37.477257,127.045477,단독/다가구
37,37.476569650314104127.047651596997,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411,단독/다가구
...,...,...,...,...,...,...
196970,37.6018406682079127.0884047398,오메가 쓰리 스포츠,서울특별시 중랑구 봉화산로 117 (상봉동),37.603160,127.087196,연립
196989,37.6067729799946127.098178026031,코어스트롱 중랑구청점,서울특별시 중랑구 봉화산로 218 지하2층 (신내동),37.607336,127.097056,연립
196990,37.6067729799946127.098178026031,커브스 신내클럽,서울특별시 중랑구 신내로 71 (신내동),37.605599,127.095116,연립
196991,37.6067729799946127.098178026031,피트니스 에스 핏,서울특별시 중랑구 신내로14길 13 (신내동),37.605837,127.096094,연립
197019,37.6033100844058127.076138448167,J. PT GYM,서울특별시 중랑구 동일로 833 4층 (중화동 GM대우),37.604764,127.078580,연립

In [16]:
print(health_total.shape)
health_total.drop_duplicates(inplace=True)
health_total.shape

(241850, 6)

(235410, 6)

In [17]:
# 멤버쉽휘트니스플레이바이어스 삭제
print(health_total.shape)
health_total.drop(health_total[health_total['name'].str.contains('멤버쉽휘트니스플레이바이어스')].index, inplace=True)
health_total.shape

(235410, 6)

(235063, 6)

In [18]:
# 어썸어스 스튜디오 삭제
health_total.drop(health_total[health_total['name'].str.contains('어썸어스 스튜디오')].index, inplace=True)
health_total.shape

(234778, 6)

In [19]:
health_total.to_csv('data/health.csv', index=False, encoding='utf-8')

## 컬럼 순서 변경

In [93]:
laundry_total = pd.read_csv('data/laundry.csv')
laundry_total.columns

Index(['criteria', 'name', 'address', 'latitude', 'longitude', 'house_kind'], dtype='object')

In [94]:
laundry_total.columns = ['criteria', 'con_name', 'con_address', 'con_latitude', 'con_longitude','house_type']
laundry_total.columns

Index(['criteria', 'con_name', 'con_address', 'con_latitude', 'con_longitude',
       'house_type'],
      dtype='object')

In [96]:
laundry_total = laundry_total[['house_type', 'criteria', 'con_name', 'con_address', 'con_latitude', 'con_longitude']].copy()
laundry_total.head()

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독/다가구,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631
1,단독/다가구,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090
2,단독/다가구,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922
3,단독/다가구,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157
4,단독/다가구,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091

In [93]:
daiso_total = pd.read_csv('data/daiso.csv')
daiso_total.columns

Index(['criteria', 'name', 'address', 'latitude', 'longitude', 'house_kind'], dtype='object')

In [97]:
daiso_total.columns = ['criteria', 'con_name', 'con_address', 'con_latitude', 'con_longitude','house_type']
daiso_total = daiso_total[['house_type', 'criteria', 'con_name', 'con_address', 'con_latitude', 'con_longitude']].copy()
daiso_total.head()

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독/다가구,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088
1,단독/다가구,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
2,단독/다가구,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804
3,단독/다가구,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778
4,단독/다가구,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236

In [93]:
health_total = pd.read_csv('data/health.csv')
health_total.columns

Index(['criteria', 'name', 'address', 'latitude', 'longitude', 'house_kind'], dtype='object')

In [98]:
health_total.columns = ['criteria', 'con_name', 'con_address', 'con_latitude', 'con_longitude','house_type']
health_total = health_total[['house_type', 'criteria', 'con_name', 'con_address', 'con_latitude', 'con_longitude']].copy()
health_total.head()

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독/다가구,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411
1,단독/다가구,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463
2,단독/다가구,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272
3,단독/다가구,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927
4,단독/다가구,37.4778848357129127.046338152861,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779

## 단독/다가구 -> 단독다가구

In [99]:
laundry_total.loc[laundry_total['house_type'] == '단독/다가구', 'house_type'] = '단독다가구'
daiso_total.loc[daiso_total['house_type'] == '단독/다가구', 'house_type'] = '단독다가구'
health_total.loc[health_total['house_type'] == '단독/다가구', 'house_type'] = '단독다가구'

In [100]:
laundry_total['house_type'].value_counts()

연립       423759
단독다가구     56908
오피스텔      16448
Name: house_type, dtype: int64

In [101]:
daiso_total['house_type'].value_counts()

연립       12471
단독다가구     2154
오피스텔      1217
Name: house_type, dtype: int64

In [102]:
health_total['house_type'].value_counts()

연립       192017
단독다가구     28478
오피스텔      14283
Name: house_type, dtype: int64

In [104]:
laundry_total.to_csv('data/laundry.csv', index=False, encoding='utf-8')

In [105]:
daiso_total.to_csv('data/daiso.csv', index=False, encoding='utf-8')

In [106]:
health_total.to_csv('data/health.csv', index=False, encoding='utf-8')

# 3개 주택 유형별 - counting columns & 컬럼 영문명

In [20]:
laundry_total = pd.read_csv('data/laundry.csv')
laundry_total

,criteria,name,address,latitude,longitude,house_kind
0,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631,단독/다가구
1,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090,단독/다가구
2,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922,단독/다가구
3,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157,단독/다가구
4,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091,단독/다가구
...,...,...,...,...,...,...
497110,37.602111974225394127.076931067454,제일사,"서울특별시 중랑구 봉화산로3길 61, (중화동)",37.604360,127.075393,연립
497111,37.602111974225394127.076931067454,우리사,"서울특별시 중랑구 중랑역로 111, (중화동)",37.603419,127.077183,연립
497112,37.602111974225394127.076931067454,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034,연립
497113,37.602111974225394127.076931067454,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136,연립
497114,37.602111974225394127.076931067454,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316,연립

In [21]:
daiso_total = pd.read_csv('data/daiso.csv')
daiso_total

,criteria,name,address,latitude,longitude,house_kind
0,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,단독/다가구
1,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,단독/다가구
2,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,단독/다가구
3,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,단독/다가구
4,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,단독/다가구
...,...,...,...,...,...,...
15837,37.59420618445127.08246857864701,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,연립
15838,37.59324539241229127.075426050395,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립
15839,37.592329902936896127.075130617387,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립
15840,37.5927118834022127.078919781706,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립
15841,37.59223637556529127.075841941299,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립

In [22]:
health_total = pd.read_csv('data/health.csv')
health_total

,criteria,name,address,latitude,longitude,house_kind
0,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411,단독/다가구
1,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463,단독/다가구
2,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272,단독/다가구
3,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927,단독/다가구
4,37.4778848357129127.046338152861,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779,단독/다가구
...,...,...,...,...,...,...
234773,37.5999780330716127.083096640763,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309,연립
234774,37.60240936322629127.07683556889799,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691,연립
234775,37.60240936322629127.07683556889799,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729,연립
234776,37.602111974225394127.076931067454,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691,연립
234777,37.602111974225394127.076931067454,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729,연립

## 단독/다가구

In [23]:
data = pd.read_csv('data/one_two_room.csv')
data

,address,rent,size,deposit,pay,year,contract,road,area,recent,...,station_area,station_name,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num
0,서울특별시 강남구 개포동 개포로,월세,26.00,1000,80,1988.0,2016-04-20,개포로,강남구,1,...,0,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0
1,서울특별시 강남구 개포동 개포로,전세,100.00,24000,0,1988.0,2016-07-25,개포로,강남구,0,...,0,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0
2,서울특별시 강남구 개포동 개포로,전세,100.00,25500,0,1988.0,2018-05-06,개포로,강남구,1,...,0,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0
3,서울특별시 강남구 개포동 개포로,전세,32.44,13000,0,NaN,2015-12-17,개포로,강남구,0,...,0,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0
4,서울특별시 강남구 개포동 개포로,전세,32.44,14500,0,NaN,2018-12-10,개포로,강남구,1,...,0,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688658,서울특별시 중랑구 중화동 중랑천로36길,전세,43.11,9000,0,1989.0,2016-09-23,중랑천로36길,중랑구,1,...,1,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0
688659,서울특별시 중랑구 중화동 중랑천로36길,전세,47.68,13000,0,1993.0,2020-02-06,중랑천로36길,중랑구,1,...,1,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0
688660,서울특별시 중랑구 중화동 중랑천로36길,전세,48.19,6000,0,1993.0,2019-09-01,중랑천로36길,중랑구,1,...,1,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0
688661,서울특별시 중랑구 중화동 중랑천로36길,전세,50.29,14000,0,1993.0,2020-02-18,중랑천로36길,중랑구,1,...,1,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0
688662,서울특별시 중랑구 중화동 중랑천로36길,전세,70.98,14500,0,2018.0,2018-11-02,중랑천로36길,중랑구,1,...,1,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0

In [24]:
data.columns

Index(['address', 'rent', 'size', 'deposit', 'pay', 'year', 'contract', 'road',
       'area', 'recent', 'latitude', 'longitude', 'station_area',
       'station_name', 'transfer', 'criteria', 'hos_num', 'mart_num',
       'fast_num', 'cafe_num', 'cul_num', 'con_num'],
      dtype='object')

In [25]:
laundry_tmp = laundry_total[laundry_total['house_kind'] == '단독/다가구'].copy()
laundry_tmp

,criteria,name,address,latitude,longitude,house_kind
0,37.4735609971211127.050895232485,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631,단독/다가구
1,37.4735609971211127.050895232485,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090,단독/다가구
2,37.4735609971211127.050895232485,하나크리닝,"서울특별시 강남구 논현로12길 19-10, (개포동, 서전빌딩)",37.475489,127.048922,단독/다가구
3,37.4735609971211127.050895232485,크린토피아국악점,"서울특별시 강남구 개포로22길 49, (개포동)",37.476166,127.050157,단독/다가구
4,37.4735609971211127.050895232485,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091,단독/다가구
...,...,...,...,...,...,...
56903,37.6009811871792127.080509377973,동아세탁소,"서울특별시 중랑구 동일로130길 52, (중화동)",37.600166,127.082942,단독/다가구
56904,37.6009811871792127.080509377973,백두산세탁소,"서울특별시 중랑구 동일로136길 25, (중화동)",37.602574,127.080817,단독/다가구
56905,37.6009811871792127.080509377973,금성사,"서울특별시 중랑구 동일로130길 19, (중화동)",37.599828,127.081100,단독/다가구
56906,37.6009811871792127.080509377973,부흥사,"서울특별시 중랑구 봉화산로21길 14-7, (중화동)",37.602576,127.082324,단독/다가구
56907,37.6009811871792127.080509377973,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136,단독/다가구

In [26]:
laundry_cnt = laundry_tmp.groupby(['criteria'])[['name']].count().reset_index()
laundry_cnt.columns = ['criteria', 'laun_num']
laundry_cnt

                                 criteria  laun_num
0      37.435526253114396126.905443559221         3
1        37.4360057273529126.904155511257         3
2        37.4404078791004126.905350068304         2
3        37.4409159493178126.905899176316         2
4      37.4410930916097126.90433129341999         2
...                                   ...       ...
11013  37.6856555594346127.04519837284599         2
11014    37.6858787698858127.043417786222         4
11015  37.6881508493127127.04168504471201         2
11016     37.6882872527661127.04393130472         1
11017     37.6891321109313127.04217118418         1

[11018 rows x 2 columns]

In [27]:
daiso_tmp = daiso_total[daiso_total['house_kind'] == '단독/다가구'].copy()
daiso_tmp

,criteria,name,address,latitude,longitude,house_kind
0,37.479780087904295127.04522930859699,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,단독/다가구
1,37.5107668926318127.02609510601002,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,단독/다가구
2,37.509844525862127.023563393784,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,단독/다가구
3,37.51473109183271127.040594935781,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,단독/다가구
4,37.51473109183271127.040594935781,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,단독/다가구
...,...,...,...,...,...,...
2149,37.5232009724075126.834598273108,다이소,"서울특별시 양천구 지양로 78, (신월동)",37.522648,126.833559,단독/다가구
2150,37.516757160043895126.905380298881,다이소,"서울특별시 영등포구 영중로 21, (영등포동4가)",37.518440,126.905141,단독/다가구
2151,37.5428300515499126.971611514109,다이소,"서울특별시 용산구 한강대로77길 12, (갈월동)",37.542197,126.971874,단독/다가구
2152,37.5707241856781127.01047746532,다이소,"서울특별시 중구 장충단로 275, (을지로6가)",37.568877,127.008761,단독/다가구
2153,37.5707241856781127.01047746532,다이소동대문점,"서울특별시 종로구 율곡로 309, (창신동)",37.570266,127.009965,단독/다가구

In [28]:
daiso_cnt = daiso_tmp.groupby(['criteria'])[['name']].count().reset_index()
daiso_cnt.columns = ['criteria', 'da_num']
daiso_cnt

                                  criteria  da_num
0         37.4525995270592126.902721162813       1
1       37.452624928527705126.902822055181       1
2         37.4530873589227126.902094858347       1
3       37.453261768509606126.899169920924       1
4       37.4533593700368126.90047120733601       1
...                                    ...     ...
1929  37.666062986477606127.04464811918501       1
1930    37.666140822673604127.066471901816       2
1931      37.6663335550916127.041936585746       1
1932      37.6677862735116127.044458280684       1
1933      37.6678029746416127.044130500552       1

[1934 rows x 2 columns]

In [29]:
health_tmp = health_total[health_total['house_kind'] == '단독/다가구'].copy()
health_tmp

,criteria,name,address,latitude,longitude,house_kind
0,37.4735609971211127.050895232485,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411,단독/다가구
1,37.4778848357129127.046338152861,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463,단독/다가구
2,37.4778848357129127.046338152861,EMS휘트니스,서울특별시 서초구 마방로10길 5,37.477056,127.043272,단독/다가구
3,37.4778848357129127.046338152861,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927,단독/다가구
4,37.4778848357129127.046338152861,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779,단독/다가구
...,...,...,...,...,...,...
28473,37.5623907050701126.989647864522,(주)더한 오리엔스 호텔 & 레지던스,서울특별시 중구 삼일대로2길 50 지하2층 (예장동),37.560057,126.991280,단독/다가구
28474,37.5623907050701126.989647864522,이로운 퍼스널 트레이닝 스튜디오,서울특별시 중구 퇴계로31길 16 3층 (충무로3가 우형빌딩),37.561893,126.992407,단독/다가구
28475,37.6009811871792127.080509377973,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691,단독/다가구
28476,37.6009811871792127.080509377973,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729,단독/다가구
28477,37.6009811871792127.080509377973,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309,단독/다가구

In [30]:
health_cnt = health_tmp.groupby(['criteria'])[['name']].count().reset_index()
health_cnt.columns = ['criteria', 'gym_num']
health_cnt

                                criteria  he_num
0     37.439135527268895126.905652471275       1
1     37.4394677303686126.90508830506501       1
2       37.4404078791004126.905350068304       1
3       37.4409159493178126.905899176316       1
4     37.4410930916097126.90433129341999       1
...                                  ...     ...
8604  37.6850825247925127.04231910661001       2
8605  37.685338253835894127.043714615013       2
8606    37.6854301859213127.043870100002       2
8607  37.6856555594346127.04519837284599       2
8608    37.6858787698858127.043417786222       2

[8609 rows x 2 columns]

In [31]:
# laun_num 컬럼 붙이기
data2 = pd.merge(data, laundry_cnt, how='left', on='criteria')   # 688663
data2

,address,rent,size,deposit,pay,year,contract,road,area,recent,...,station_name,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num
0,서울특별시 강남구 개포동 개포로,월세,26.00,1000,80,1988.0,2016-04-20,개포로,강남구,1,...,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0
1,서울특별시 강남구 개포동 개포로,전세,100.00,24000,0,1988.0,2016-07-25,개포로,강남구,0,...,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0
2,서울특별시 강남구 개포동 개포로,전세,100.00,25500,0,1988.0,2018-05-06,개포로,강남구,1,...,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0
3,서울특별시 강남구 개포동 개포로,전세,32.44,13000,0,NaN,2015-12-17,개포로,강남구,0,...,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0
4,서울특별시 강남구 개포동 개포로,전세,32.44,14500,0,NaN,2018-12-10,개포로,강남구,1,...,[],0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688658,서울특별시 중랑구 중화동 중랑천로36길,전세,43.11,9000,0,1989.0,2016-09-23,중랑천로36길,중랑구,1,...,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0
688659,서울특별시 중랑구 중화동 중랑천로36길,전세,47.68,13000,0,1993.0,2020-02-06,중랑천로36길,중랑구,1,...,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0
688660,서울특별시 중랑구 중화동 중랑천로36길,전세,48.19,6000,0,1993.0,2019-09-01,중랑천로36길,중랑구,1,...,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0
688661,서울특별시 중랑구 중화동 중랑천로36길,전세,50.29,14000,0,1993.0,2020-02-18,중랑천로36길,중랑구,1,...,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0
688662,서울특별시 중랑구 중화동 중랑천로36길,전세,70.98,14500,0,2018.0,2018-11-02,중랑천로36길,중랑구,1,...,['중화역 7호선'],0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0

In [32]:
# da_num 컬럼 붙이기
data3 = pd.merge(data2, daiso_cnt, how='left', on='criteria')   # 688663
data3

,address,rent,size,deposit,pay,year,contract,road,area,recent,...,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num
0,서울특별시 강남구 개포동 개포로,월세,26.00,1000,80,1988.0,2016-04-20,개포로,강남구,1,...,0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN
1,서울특별시 강남구 개포동 개포로,전세,100.00,24000,0,1988.0,2016-07-25,개포로,강남구,0,...,0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN
2,서울특별시 강남구 개포동 개포로,전세,100.00,25500,0,1988.0,2018-05-06,개포로,강남구,1,...,0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN
3,서울특별시 강남구 개포동 개포로,전세,32.44,13000,0,NaN,2015-12-17,개포로,강남구,0,...,0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN
4,서울특별시 강남구 개포동 개포로,전세,32.44,14500,0,NaN,2018-12-10,개포로,강남구,1,...,0,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688658,서울특별시 중랑구 중화동 중랑천로36길,전세,43.11,9000,0,1989.0,2016-09-23,중랑천로36길,중랑구,1,...,0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
688659,서울특별시 중랑구 중화동 중랑천로36길,전세,47.68,13000,0,1993.0,2020-02-06,중랑천로36길,중랑구,1,...,0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
688660,서울특별시 중랑구 중화동 중랑천로36길,전세,48.19,6000,0,1993.0,2019-09-01,중랑천로36길,중랑구,1,...,0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
688661,서울특별시 중랑구 중화동 중랑천로36길,전세,50.29,14000,0,1993.0,2020-02-18,중랑천로36길,중랑구,1,...,0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
688662,서울특별시 중랑구 중화동 중랑천로36길,전세,70.98,14500,0,2018.0,2018-11-02,중랑천로36길,중랑구,1,...,0,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN

In [33]:
# he_num 컬럼 붙이기
data4 = pd.merge(data3, health_cnt, how='left', on='criteria')   # 688663
data4

,address,rent,size,deposit,pay,year,contract,road,area,recent,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동 개포로,월세,26.00,1000,80,1988.0,2016-04-20,개포로,강남구,1,...,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN,1.0
1,서울특별시 강남구 개포동 개포로,전세,100.00,24000,0,1988.0,2016-07-25,개포로,강남구,0,...,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN,1.0
2,서울특별시 강남구 개포동 개포로,전세,100.00,25500,0,1988.0,2018-05-06,개포로,강남구,1,...,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN,1.0
3,서울특별시 강남구 개포동 개포로,전세,32.44,13000,0,NaN,2015-12-17,개포로,강남구,0,...,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN,1.0
4,서울특별시 강남구 개포동 개포로,전세,32.44,14500,0,NaN,2018-12-10,개포로,강남구,1,...,37.476873436935705127.050971077409,1.0,0.0,0.0,1.0,2.0,9.0,4.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688658,서울특별시 중랑구 중화동 중랑천로36길,전세,43.11,9000,0,1989.0,2016-09-23,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
688659,서울특별시 중랑구 중화동 중랑천로36길,전세,47.68,13000,0,1993.0,2020-02-06,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
688660,서울특별시 중랑구 중화동 중랑천로36길,전세,48.19,6000,0,1993.0,2019-09-01,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
688661,서울특별시 중랑구 중화동 중랑천로36길,전세,50.29,14000,0,1993.0,2020-02-18,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
688662,서울특별시 중랑구 중화동 중랑천로36길,전세,70.98,14500,0,2018.0,2018-11-02,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0

In [34]:
data4.isnull().sum()

address              0
rent                 0
size                 0
deposit              0
pay                  0
year             30716
contract             0
road                 0
area                 0
recent               0
latitude             0
longitude            0
station_area         0
station_name         0
transfer             0
criteria             0
hos_num              0
mart_num             0
fast_num             0
cafe_num             0
cul_num              0
con_num              0
laun_num         78676
da_num          572861
he_num          207108
dtype: int64

In [35]:
# nan값 0으로 채우기
data4['laun_num'] = data4['laun_num'].fillna(0)
data4['da_num'] = data4['da_num'].fillna(0)
data4['gym_num'] = data4['gym_num'].fillna(0)

data4.isnull().sum()

address             0
rent                0
size                0
deposit             0
pay                 0
year            30716
contract            0
road                0
area                0
recent              0
latitude            0
longitude           0
station_area        0
station_name        0
transfer            0
criteria            0
hos_num             0
mart_num            0
fast_num            0
cafe_num            0
cul_num             0
con_num             0
laun_num            0
da_num              0
he_num              0
dtype: int64

In [36]:
# 00_num 컬럼 -> 정수 type으로 변경
data4['hos_num'] = data4['hos_num'].astype(int)
data4['mart_num'] = data4['mart_num'].astype(int)
data4['fast_num'] = data4['fast_num'].astype(int)
data4['cafe_num'] = data4['cafe_num'].astype(int)
data4['cul_num'] = data4['cul_num'].astype(int)
data4['con_num'] = data4['con_num'].astype(int)
data4['laun_num'] = data4['laun_num'].astype(int)
data4['da_num'] = data4['da_num'].astype(int)
data4['gym_num'] = data4['gym_num'].astype(int)

In [37]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 688663 entries, 0 to 688662
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   address       688663 non-null  object
 1   rent          688663 non-null  object
 2   size          688663 non-null  float64
 3   deposit       688663 non-null  int64
 4   pay           688663 non-null  int64
 5   year          657947 non-null  float64
 6   contract      688663 non-null  object
 7   road          688663 non-null  object
 8   area          688663 non-null  object
 9   recent        688663 non-null  int64
 10  latitude      688663 non-null  float64
 11  longitude     688663 non-null  float64
 12  station_area  688663 non-null  int64
 13  station_name  688663 non-null  object
 14  transfer      688663 non-null  int64
 15  criteria      688663 non-null  object
 16  hos_num       688663 non-null  int32
 17  mart_num      688663 non-null  int32
 18  fast_num      688663 non-null  int32
 19  cafe_num      688663 non-null  int32
 20  cul_num       688663 non-null  int32
 21  con_num       688663 non-null  int32
 22  laun_num      688663 non-null  int32
 23  da_num        688663 non-null  int32
 24  he_num        688663 non-null  int32
dtypes: float64(4), int32(9), int64(5), object(7)
memory usage: 113.0+ MB

In [38]:
data4

,address,rent,size,deposit,pay,year,contract,road,area,recent,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동 개포로,월세,26.00,1000,80,1988.0,2016-04-20,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
1,서울특별시 강남구 개포동 개포로,전세,100.00,24000,0,1988.0,2016-07-25,개포로,강남구,0,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
2,서울특별시 강남구 개포동 개포로,전세,100.00,25500,0,1988.0,2018-05-06,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
3,서울특별시 강남구 개포동 개포로,전세,32.44,13000,0,NaN,2015-12-17,개포로,강남구,0,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
4,서울특별시 강남구 개포동 개포로,전세,32.44,14500,0,NaN,2018-12-10,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688658,서울특별시 중랑구 중화동 중랑천로36길,전세,43.11,9000,0,1989.0,2016-09-23,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688659,서울특별시 중랑구 중화동 중랑천로36길,전세,47.68,13000,0,1993.0,2020-02-06,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688660,서울특별시 중랑구 중화동 중랑천로36길,전세,48.19,6000,0,1993.0,2019-09-01,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688661,서울특별시 중랑구 중화동 중랑천로36길,전세,50.29,14000,0,1993.0,2020-02-18,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688662,서울특별시 중랑구 중화동 중랑천로36길,전세,70.98,14500,0,2018.0,2018-11-02,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1

In [39]:
data4.to_csv('data/one_two_room.csv', index=False, encoding='utf-8')

## 오피스텔

In [40]:
data = pd.read_csv('data/officetels.csv')
data

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,station_area,station_name,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num
0,서울특별시 강남구 개포동 개포로 213,월세,18.80,200,75,2003.0,2015-02-02,개포로 213,골든빌오피스텔(1246-3),2,...,0,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0
1,서울특별시 강남구 개포동 개포로 213,월세,18.80,100,70,2003.0,2017-06-10,개포로 213,골든빌오피스텔(1246-3),6,...,0,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0
2,서울특별시 강남구 개포동 개포로 213,월세,19.08,200,75,2003.0,2015-01-05,개포로 213,골든빌오피스텔(1246-3),2,...,0,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0
3,서울특별시 강남구 개포동 개포로 213,월세,23.76,100,80,2003.0,2015-08-20,개포로 213,골든빌오피스텔(1246-3),4,...,0,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0
4,서울특별시 강남구 개포동 개포로 213,월세,23.76,1000,80,2003.0,2020-07-10,개포로 213,골든빌오피스텔(1246-3),2,...,0,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208942,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10500,0,2012.0,2020-03-11,중랑천로14길 58,중화동 범양프레체,6,...,2,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0
208943,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10000,0,2012.0,2020-04-11,중랑천로14길 58,중화동 범양프레체,3,...,2,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0
208944,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-20,중랑천로14길 58,중화동 범양프레체,6,...,2,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0
208945,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,11000,0,2012.0,2020-04-29,중랑천로14길 58,중화동 범양프레체,2,...,2,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0
208946,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-30,중랑천로14길 58,중화동 범양프레체,6,...,2,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0

In [41]:
data.columns

Index(['address', 'rent', 'size', 'deposit', 'pay', 'year', 'contract', 'road',
       'name', 'floor', 'area', 'recent', 'latitude', 'longitude',
       'station_area', 'station_name', 'transfer', 'criteria', 'hos_num',
       'mart_num', 'fast_num', 'cafe_num', 'cul_num', 'con_num'],
      dtype='object')

In [42]:
laundry_tmp = laundry_total[laundry_total['house_kind'] == '오피스텔'].copy()
laundry_tmp

,criteria,name,address,latitude,longitude,house_kind
56908,37.4787447572028127.046112568695,현대컴퓨터세탁소,"서울특별시 강남구 논현로16길 23, (개포동)",37.476922,127.047886,오피스텔
56909,37.4787447572028127.046112568695,우리세탁소,"서울특별시 강남구 개포로25길 12, (개포동)",37.479728,127.048280,오피스텔
56910,37.4787447572028127.046112568695,수림세탁소,"서울특별시 강남구 논현로18길 10-14, (개포동)",37.477018,127.046291,오피스텔
56911,37.4787447572028127.046112568695,트윈세탁소,"서울특별시 서초구 마방로10길 25, (양재동)",37.476587,127.044261,오피스텔
56912,37.494341198165127.07964775319401,크린스피드,"서울특별시 강남구 개포로 623, (개포동)",37.494330,127.079635,오피스텔
...,...,...,...,...,...,...
73351,37.602057932739896127.07854530363599,개울가에빨래터,"서울특별시 중랑구 동일로140길 16, (중화동)",37.604145,127.080062,오피스텔
73352,37.602057932739896127.07854530363599,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034,오피스텔
73353,37.602057932739896127.07854530363599,백두산세탁소,"서울특별시 중랑구 동일로136길 25, (중화동)",37.602574,127.080817,오피스텔
73354,37.602057932739896127.07854530363599,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136,오피스텔
73355,37.602057932739896127.07854530363599,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316,오피스텔

In [43]:
laundry_cnt = laundry_tmp.groupby(['criteria'])[['name']].count().reset_index()
laundry_cnt.columns = ['criteria', 'laun_num']
laundry_cnt

                                  criteria  laun_num
0         37.4448811863953126.903505590652         2
1       37.4475951446937126.90253439480699         2
2         37.4484774576417126.902474031868         3
3     37.448991771458104126.90194796793301         3
4         37.4491424502303126.901010328652         1
...                                    ...       ...
3126     37.67807237440729127.054205727679         8
3127      37.6781030157686127.056303919151         7
3128      37.6791213093376127.054950932229         6
3129  37.680188648145496127.05582574496401         7
3130    37.6803078379984127.05488639711099         7

[3131 rows x 2 columns]

In [44]:
daiso_tmp = daiso_total[daiso_total['house_kind'] == '오피스텔'].copy()
daiso_tmp

,criteria,name,address,latitude,longitude,house_kind
2154,37.51610414689579127.041071323525,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,오피스텔
2155,37.51610414689579127.041071323525,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,오피스텔
2156,37.5167560126387127.040841265738,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,오피스텔
2157,37.5167560126387127.040841265738,다이소,서울특별시 강남구 선릉로 660,37.515694,127.042236,오피스텔
2158,37.5165402749359127.04016223452,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,오피스텔
...,...,...,...,...,...,...
3366,37.5945655252538127.086584864897,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,오피스텔
3367,37.5927999533509127.077632111372,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,오피스텔
3368,37.59520254398279127.08741628398701,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,오피스텔
3369,37.595432596612795127.086397221943,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,오피스텔
3370,37.594423584999205127.07533835216499,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,오피스텔

In [45]:
daiso_cnt = daiso_tmp.groupby(['criteria'])[['name']].count().reset_index()
daiso_cnt.columns = ['criteria', 'da_num']
daiso_cnt

                                  criteria  da_num
0        37.45238860785471126.899500201004       1
1       37.4524074730986126.89932850159799       1
2         37.4524280132662126.899113740031       1
3       37.4526024702157126.89913814368299       1
4         37.4526216219851126.899302785492       1
...                                    ...     ...
1018  37.653506044431296127.05015756821001       1
1019      37.6556290632666127.041487916229       1
1020      37.6601294556367127.075209656625       1
1021    37.665295663539794127.044774146917       1
1022    37.6673492277368127.04392440091101       1

[1023 rows x 2 columns]

In [46]:
health_tmp = health_total[health_total['house_kind'] == '오피스텔'].copy()
health_tmp

,criteria,name,address,latitude,longitude,house_kind
28478,37.4787447572028127.046112568695,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927,오피스텔
28479,37.4787447572028127.046112568695,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779,오피스텔
28480,37.4787447572028127.046112568695,알통맨 휘트니스크럽(119),서울특별시 강남구 논현로 80 (개포동),37.477257,127.045477,오피스텔
28481,37.4787447572028127.046112568695,365day 24hour PT&태닝GYM,서울특별시 강남구 개포로 233 유림빌딩 (개포동),37.479059,127.048115,오피스텔
28482,37.494341198165127.07964775319401,ERE필라테스,"서울특별시 강남구 개포로109길 34, (개포동)",37.494197,127.077635,오피스텔
...,...,...,...,...,...,...
42756,37.594423584999205127.07533835216499,월빙짐 휘트니스,서울특별시 중랑구 망우로32길 37 (면목동),37.592200,127.077164,오피스텔
42757,37.594423584999205127.07533835216499,굿모닝 휘트니스,서울특별시 중랑구 망우로 186 (상봉동),37.592961,127.073471,오피스텔
42758,37.602057932739896127.07854530363599,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691,오피스텔
42759,37.602057932739896127.07854530363599,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729,오피스텔
42760,37.602057932739896127.07854530363599,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309,오피스텔

In [47]:
health_cnt = health_tmp.groupby(['criteria'])[['name']].count().reset_index()
health_cnt.columns = ['criteria', 'he_num']
health_cnt

                                  criteria  he_num
0       37.4475951446937126.90253439480699       1
1         37.4484774576417126.902474031868       3
2     37.448991771458104126.90194796793301       3
3         37.4491424502303126.901010328652       3
4     37.449236269226105126.90082339435101       2
...                                    ...     ...
2871     37.67807237440729127.054205727679       3
2872      37.6781030157686127.056303919151       2
2873      37.6791213093376127.054950932229       3
2874  37.680188648145496127.05582574496401       2
2875    37.6803078379984127.05488639711099       2

[2876 rows x 2 columns]

In [48]:
# laun_num 컬럼 붙이기
data2 = pd.merge(data, laundry_cnt, how='left', on='criteria')   # 208947
data2

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,station_name,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num
0,서울특별시 강남구 개포동 개포로 213,월세,18.80,200,75,2003.0,2015-02-02,개포로 213,골든빌오피스텔(1246-3),2,...,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0
1,서울특별시 강남구 개포동 개포로 213,월세,18.80,100,70,2003.0,2017-06-10,개포로 213,골든빌오피스텔(1246-3),6,...,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0
2,서울특별시 강남구 개포동 개포로 213,월세,19.08,200,75,2003.0,2015-01-05,개포로 213,골든빌오피스텔(1246-3),2,...,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0
3,서울특별시 강남구 개포동 개포로 213,월세,23.76,100,80,2003.0,2015-08-20,개포로 213,골든빌오피스텔(1246-3),4,...,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0
4,서울특별시 강남구 개포동 개포로 213,월세,23.76,1000,80,2003.0,2020-07-10,개포로 213,골든빌오피스텔(1246-3),2,...,[],0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208942,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10500,0,2012.0,2020-03-11,중랑천로14길 58,중화동 범양프레체,6,...,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0
208943,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10000,0,2012.0,2020-04-11,중랑천로14길 58,중화동 범양프레체,3,...,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0
208944,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-20,중랑천로14길 58,중화동 범양프레체,6,...,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0
208945,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,11000,0,2012.0,2020-04-29,중랑천로14길 58,중화동 범양프레체,2,...,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0
208946,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-30,중랑천로14길 58,중화동 범양프레체,6,...,['중랑역 경의선' '중랑역 경춘선'],1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0

In [49]:
# da_num 컬럼 붙이기
data3 = pd.merge(data2, daiso_cnt, how='left', on='criteria')   # 208947
data3

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num
0,서울특별시 강남구 개포동 개포로 213,월세,18.80,200,75,2003.0,2015-02-02,개포로 213,골든빌오피스텔(1246-3),2,...,0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN
1,서울특별시 강남구 개포동 개포로 213,월세,18.80,100,70,2003.0,2017-06-10,개포로 213,골든빌오피스텔(1246-3),6,...,0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN
2,서울특별시 강남구 개포동 개포로 213,월세,19.08,200,75,2003.0,2015-01-05,개포로 213,골든빌오피스텔(1246-3),2,...,0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN
3,서울특별시 강남구 개포동 개포로 213,월세,23.76,100,80,2003.0,2015-08-20,개포로 213,골든빌오피스텔(1246-3),4,...,0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN
4,서울특별시 강남구 개포동 개포로 213,월세,23.76,1000,80,2003.0,2020-07-10,개포로 213,골든빌오피스텔(1246-3),2,...,0,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208942,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10500,0,2012.0,2020-03-11,중랑천로14길 58,중화동 범양프레체,6,...,1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0
208943,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10000,0,2012.0,2020-04-11,중랑천로14길 58,중화동 범양프레체,3,...,1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0
208944,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-20,중랑천로14길 58,중화동 범양프레체,6,...,1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0
208945,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,11000,0,2012.0,2020-04-29,중랑천로14길 58,중화동 범양프레체,2,...,1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0
208946,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-30,중랑천로14길 58,중화동 범양프레체,6,...,1,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0

In [50]:
# he_num 컬럼 붙이기
data4 = pd.merge(data3, health_cnt, how='left', on='criteria')   # 208947
data4

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동 개포로 213,월세,18.80,200,75,2003.0,2015-02-02,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN,4.0
1,서울특별시 강남구 개포동 개포로 213,월세,18.80,100,70,2003.0,2017-06-10,개포로 213,골든빌오피스텔(1246-3),6,...,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN,4.0
2,서울특별시 강남구 개포동 개포로 213,월세,19.08,200,75,2003.0,2015-01-05,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN,4.0
3,서울특별시 강남구 개포동 개포로 213,월세,23.76,100,80,2003.0,2015-08-20,개포로 213,골든빌오피스텔(1246-3),4,...,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN,4.0
4,서울특별시 강남구 개포동 개포로 213,월세,23.76,1000,80,2003.0,2020-07-10,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3.0,0.0,1.0,3.0,2.0,13.0,4.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208942,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10500,0,2012.0,2020-03-11,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0,3.0
208943,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10000,0,2012.0,2020-04-11,중랑천로14길 58,중화동 범양프레체,3,...,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0,3.0
208944,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-20,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0,3.0
208945,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,11000,0,2012.0,2020-04-29,중랑천로14길 58,중화동 범양프레체,2,...,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0,3.0
208946,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-30,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8.0,1.0,2.0,6.0,1.0,11.0,4.0,1.0,3.0

In [51]:
data4.isnull().sum()

address              0
rent                 0
size                 0
deposit              0
pay                  0
year              8003
contract             0
road                 0
name                 0
floor                0
area                 0
recent               0
latitude             0
longitude            0
station_area         0
station_name         0
transfer             0
criteria             0
hos_num              0
mart_num             0
fast_num             0
cafe_num             0
cul_num              0
con_num              0
laun_num         33318
da_num          172528
he_num           42373
dtype: int64

In [52]:
# nan값 0으로 채우기
data4['laun_num'] = data4['laun_num'].fillna(0)
data4['da_num'] = data4['da_num'].fillna(0)
data4['he_num'] = data4['he_num'].fillna(0)

data4.isnull().sum()

address            0
rent               0
size               0
deposit            0
pay                0
year            8003
contract           0
road               0
name               0
floor              0
area               0
recent             0
latitude           0
longitude          0
station_area       0
station_name       0
transfer           0
criteria           0
hos_num            0
mart_num           0
fast_num           0
cafe_num           0
cul_num            0
con_num            0
laun_num           0
da_num             0
he_num             0
dtype: int64

In [53]:
# 00_num 컬럼 -> 정수 type으로 변경
data4['hos_num'] = data4['hos_num'].astype(int)
data4['mart_num'] = data4['mart_num'].astype(int)
data4['fast_num'] = data4['fast_num'].astype(int)
data4['cafe_num'] = data4['cafe_num'].astype(int)
data4['cul_num'] = data4['cul_num'].astype(int)
data4['con_num'] = data4['con_num'].astype(int)
data4['laun_num'] = data4['laun_num'].astype(int)
data4['da_num'] = data4['da_num'].astype(int)
data4['he_num'] = data4['he_num'].astype(int)

In [54]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208947 entries, 0 to 208946
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   address       208947 non-null  object
 1   rent          208947 non-null  object
 2   size          208947 non-null  float64
 3   deposit       208947 non-null  int64
 4   pay           208947 non-null  int64
 5   year          200944 non-null  float64
 6   contract      208947 non-null  object
 7   road          208947 non-null  object
 8   name          208947 non-null  object
 9   floor         208947 non-null  int64
 10  area          208947 non-null  object
 11  recent        208947 non-null  int64
 12  latitude      208947 non-null  float64
 13  longitude     208947 non-null  float64
 14  station_area  208947 non-null  int64
 15  station_name  208947 non-null  object
 16  transfer      208947 non-null  int64
 17  criteria      208947 non-null  object
 18  hos_num       208947 non-null  int32
 19  mart_num      208947 non-null  int32
 20  fast_num      208947 non-null  int32
 21  cafe_num      208947 non-null  int32
 22  cul_num       208947 non-null  int32
 23  con_num       208947 non-null  int32
 24  laun_num      208947 non-null  int32
 25  da_num        208947 non-null  int32
 26  he_num        208947 non-null  int32
dtypes: float64(4), int32(9), int64(6), object(8)
memory usage: 37.5+ MB

In [55]:
data4

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동 개포로 213,월세,18.80,200,75,2003.0,2015-02-02,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
1,서울특별시 강남구 개포동 개포로 213,월세,18.80,100,70,2003.0,2017-06-10,개포로 213,골든빌오피스텔(1246-3),6,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
2,서울특별시 강남구 개포동 개포로 213,월세,19.08,200,75,2003.0,2015-01-05,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
3,서울특별시 강남구 개포동 개포로 213,월세,23.76,100,80,2003.0,2015-08-20,개포로 213,골든빌오피스텔(1246-3),4,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
4,서울특별시 강남구 개포동 개포로 213,월세,23.76,1000,80,2003.0,2020-07-10,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208942,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10500,0,2012.0,2020-03-11,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208943,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10000,0,2012.0,2020-04-11,중랑천로14길 58,중화동 범양프레체,3,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208944,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-20,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208945,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,11000,0,2012.0,2020-04-29,중랑천로14길 58,중화동 범양프레체,2,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208946,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-30,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3

In [56]:
data4.to_csv('data/officetels.csv', index=False, encoding='utf-8')

## 연립/다세대

In [57]:
data = pd.read_csv('data/villa.csv')
data

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,station_area,station_name,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num
0,서울특별시 강남구 개포동,월세,34.22,3000,30,2012.0,2015-10-14,,아름다운집,NaN,...,2,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0
1,서울특별시 강남구 개포동,월세,39.34,10000,60,2015.0,2015-09-02,,수창스마트빌,2.0,...,2,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0
2,서울특별시 강남구 개포동,월세,48.50,3000,53,1988.0,2015-08-17,,영동A,0.0,...,2,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0
3,서울특별시 강남구 개포동,월세,48.50,10000,40,1988.0,2016-01-21,,영동B,1.0,...,2,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0
4,서울특별시 강남구 개포동,월세,53.99,28000,20,2013.0,2016-02-19,,장원,5.0,...,2,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503833,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,34.98,11000,0,1997.0,2018-03-31,중랑천로36길 5-4,진주빌라,1.0,...,1,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0
503834,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,36.54,10000,0,1997.0,2016-09-24,중랑천로36길 5-4,진주빌라,3.0,...,1,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0
503835,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,12000,0,1997.0,2018-03-23,중랑천로36길 5-4,진주빌라,3.0,...,1,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0
503836,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2018-11-17,중랑천로36길 5-4,진주빌라,3.0,...,1,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0
503837,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2019-01-31,중랑천로36길 5-4,진주빌라,3.0,...,1,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0

In [58]:
data.columns

Index(['address', 'rent', 'size', 'deposit', 'pay', 'year', 'contract', 'road',
       'name', 'floor', 'area', 'recent', 'latitude', 'longitude',
       'station_area', 'station_name', 'transfer', 'criteria', 'hos_num',
       'mart_num', 'fast_num', 'cafe_num', 'cul_num', 'con_num'],
      dtype='object')

In [61]:
laundry_tmp = laundry_total[laundry_total['house_kind'] == '연립'].copy()
laundry_tmp

,criteria,name,address,latitude,longitude,house_kind
73356,37.4723876864126127.050510865064,현대사,"서울특별시 강남구 논현로4길 19, (개포동)",37.473114,127.051631,연립
73357,37.4723876864126127.050510865064,크린토피아세탁소,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090,연립
73358,37.4723876864126127.050510865064,영동세탁소,"서울특별시 강남구 논현로6길 21, (개포동)",37.473812,127.051091,연립
73359,37.4723876864126127.050510865064,크린에이드,"서울특별시 강남구 논현로8길 7, (개포동)",37.473845,127.049599,연립
73360,37.4723876864126127.050510865064,희세탁,"서울특별시 강남구 논현로2길 20, (개포동)",37.472586,127.052090,연립
...,...,...,...,...,...,...
497110,37.602111974225394127.076931067454,제일사,"서울특별시 중랑구 봉화산로3길 61, (중화동)",37.604360,127.075393,연립
497111,37.602111974225394127.076931067454,우리사,"서울특별시 중랑구 중랑역로 111, (중화동)",37.603419,127.077183,연립
497112,37.602111974225394127.076931067454,현해사,"서울특별시 중랑구 봉화산로 23, (중화동)",37.601706,127.077034,연립
497113,37.602111974225394127.076931067454,워시앤워시,"서울특별시 중랑구 중랑역로 80, (중화동)",37.600552,127.078136,연립
497114,37.602111974225394127.076931067454,백설세탁,"서울특별시 중랑구 동일로139길 11, (중화동)",37.603347,127.078316,연립

In [62]:
laundry_cnt = laundry_tmp.groupby(['criteria'])[['name']].count().reset_index()
laundry_cnt.columns = ['criteria', 'laun_num']
laundry_cnt

                                   criteria  laun_num
0          37.43406478314861126.90609362312         3
1        37.4341240814924126.90644901681499         3
2        37.4341592857776126.90539816185199         3
3      37.434166287596604126.90525307329399         3
4          37.4341754529431126.905109563844         3
...                                     ...       ...
77848    37.6870858198058127.04314412701099         3
77849      37.6871902099589127.043965689957         3
77850    37.6872156635598127.04310882976401         3
77851    37.6872622204376127.05250217845399         4
77852      37.6876641451166127.043177113724         2

[77853 rows x 2 columns]

In [63]:
daiso_tmp = daiso_total[daiso_total['house_kind'] == '연립'].copy()
daiso_tmp

,criteria,name,address,latitude,longitude,house_kind
3371,37.4801009360233127.045467266355,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,연립
3372,37.4798444783213127.04554647854602,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,연립
3373,37.4801575682925127.04626968537,다이소,"서울특별시 강남구 논현로26길 14, (도곡동)",37.482208,127.044088,연립
3374,37.5188546019897127.039599468218,다이소강남구청역점,"서울특별시 강남구 학동로 402, (삼성동)",37.516988,127.041778,연립
3375,37.5116750444976127.026367784389,다이소영동프라자점,"서울특별시 강남구 강남대로128길 20, (논현동)",37.509966,127.023804,연립
...,...,...,...,...,...,...
15837,37.59420618445127.08246857864701,다이소상봉역점,"서울특별시 중랑구 망우로 287, (상봉동)",37.596302,127.084314,연립
15838,37.59324539241229127.075426050395,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립
15839,37.592329902936896127.075130617387,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립
15840,37.5927118834022127.078919781706,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립
15841,37.59223637556529127.075841941299,다이소동부시장점,"서울특별시 중랑구 망우로 212, (상봉동)",37.593734,127.076193,연립

In [64]:
daiso_cnt = daiso_tmp.groupby(['criteria'])[['name']].count().reset_index()
daiso_cnt.columns = ['criteria', 'da_num']
daiso_cnt

                                 criteria  da_num
0      37.4521307481023126.90285275715401       1
1      37.4522565957117126.90282366187401       1
2        37.4522777044473126.902089810696       1
3        37.4524303093632126.899694196976       1
4      37.4524466068011126.89989387791799       1
...                                   ...     ...
11676   37.66848313552021127.044580882037       1
11677    37.6685862106806127.044572896202       1
11678  37.6686852315571127.04456456788601       1
11679    37.6687734186283127.042165329093       1
11680  37.6689779825291127.04280085985201       1

[11681 rows x 2 columns]

In [65]:
health_tmp = health_total[health_total['house_kind'] == '연립'].copy()
health_tmp

,criteria,name,address,latitude,longitude,house_kind
42761,37.475312650290796127.05354614244301,멤버쉽 휘트니스 플레이 바이 어스,서울특별시 강남구 논현로10길 29 5층 (개포동),37.475290,127.050411,연립
42762,37.4780340050176127.049108807588,365day 24hour PT&태닝GYM,서울특별시 강남구 개포로 233 유림빌딩 (개포동),37.479059,127.048115,연립
42763,37.4777378645956127.046836978486,모아필라테스,"서울특별시 강남구 논현로 80, (개포동)",37.477245,127.045463,연립
42764,37.4777378645956127.046836978486,러쉬스포츠센터,서울특별시 서초구 마방로10길 15 (양재동트윈타워 B동(지1층)),37.476878,127.043927,연립
42765,37.4777378645956127.046836978486,더베스트짐,서울특별시 서초구 논현로 79 (양재동윈드스톤오피스텔(지1층)),37.476910,127.044779,연립
...,...,...,...,...,...,...
234773,37.5999780330716127.083096640763,쉴드짐,서울특별시 중랑구 봉화산로 61 (중화동 정신빌딩),37.601805,127.081309,연립
234774,37.60240936322629127.07683556889799,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691,연립
234775,37.60240936322629127.07683556889799,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729,연립
234776,37.602111974225394127.076931067454,아레나,"서울특별시 중랑구 동일로 802, (중화동)",37.602078,127.079691,연립
234777,37.602111974225394127.076931067454,피트니스 리바디,서울특별시 중랑구 동일로 802 지하1층 (중화동 대신빌딩),37.602013,127.079729,연립

In [66]:
health_cnt = health_tmp.groupby(['criteria'])[['name']].count().reset_index()
health_cnt.columns = ['criteria', 'he_num']
health_cnt

                                   criteria  he_num
0         37.43895829687821126.904417968342       1
1         37.43913089037769126.902492490298       1
2        37.439135527268895126.905652471275       1
3        37.439159408765896126.905095474335       1
4      37.439161209114395126.90498123111901       1
...                                     ...     ...
59391    37.6870858198058127.04314412701099       2
59392      37.6871902099589127.043965689957       2
59393    37.6872156635598127.04310882976401       2
59394  37.687216365103396127.04532289688801       2
59395      37.6876641451166127.043177113724       2

[59396 rows x 2 columns]

In [67]:
# laun_num 컬럼 붙이기
data2 = pd.merge(data, laundry_cnt, how='left', on='criteria')   # 503838
data2

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,station_name,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num
0,서울특별시 강남구 개포동,월세,34.22,3000,30,2012.0,2015-10-14,,아름다운집,NaN,...,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0
1,서울특별시 강남구 개포동,월세,39.34,10000,60,2015.0,2015-09-02,,수창스마트빌,2.0,...,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0
2,서울특별시 강남구 개포동,월세,48.50,3000,53,1988.0,2015-08-17,,영동A,0.0,...,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0
3,서울특별시 강남구 개포동,월세,48.50,10000,40,1988.0,2016-01-21,,영동B,1.0,...,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0
4,서울특별시 강남구 개포동,월세,53.99,28000,20,2013.0,2016-02-19,,장원,5.0,...,['암사역 8호선'],0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503833,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,34.98,11000,0,1997.0,2018-03-31,중랑천로36길 5-4,진주빌라,1.0,...,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0
503834,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,36.54,10000,0,1997.0,2016-09-24,중랑천로36길 5-4,진주빌라,3.0,...,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0
503835,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,12000,0,1997.0,2018-03-23,중랑천로36길 5-4,진주빌라,3.0,...,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0
503836,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2018-11-17,중랑천로36길 5-4,진주빌라,3.0,...,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0
503837,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2019-01-31,중랑천로36길 5-4,진주빌라,3.0,...,['중화역 7호선'],0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0

In [68]:
# da_num 컬럼 붙이기
data3 = pd.merge(data2, daiso_cnt, how='left', on='criteria')   # 503838
data3

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,transfer,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num
0,서울특별시 강남구 개포동,월세,34.22,3000,30,2012.0,2015-10-14,,아름다운집,NaN,...,0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN
1,서울특별시 강남구 개포동,월세,39.34,10000,60,2015.0,2015-09-02,,수창스마트빌,2.0,...,0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN
2,서울특별시 강남구 개포동,월세,48.50,3000,53,1988.0,2015-08-17,,영동A,0.0,...,0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN
3,서울특별시 강남구 개포동,월세,48.50,10000,40,1988.0,2016-01-21,,영동B,1.0,...,0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN
4,서울특별시 강남구 개포동,월세,53.99,28000,20,2013.0,2016-02-19,,장원,5.0,...,0,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503833,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,34.98,11000,0,1997.0,2018-03-31,중랑천로36길 5-4,진주빌라,1.0,...,0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
503834,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,36.54,10000,0,1997.0,2016-09-24,중랑천로36길 5-4,진주빌라,3.0,...,0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
503835,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,12000,0,1997.0,2018-03-23,중랑천로36길 5-4,진주빌라,3.0,...,0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
503836,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2018-11-17,중랑천로36길 5-4,진주빌라,3.0,...,0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN
503837,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2019-01-31,중랑천로36길 5-4,진주빌라,3.0,...,0,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN

In [69]:
# he_num 컬럼 붙이기
data4 = pd.merge(data3, health_cnt, how='left', on='criteria')   # 503838
data4

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동,월세,34.22,3000,30,2012.0,2015-10-14,,아름다운집,NaN,...,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN,4.0
1,서울특별시 강남구 개포동,월세,39.34,10000,60,2015.0,2015-09-02,,수창스마트빌,2.0,...,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN,4.0
2,서울특별시 강남구 개포동,월세,48.50,3000,53,1988.0,2015-08-17,,영동A,0.0,...,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN,4.0
3,서울특별시 강남구 개포동,월세,48.50,10000,40,1988.0,2016-01-21,,영동B,1.0,...,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN,4.0
4,서울특별시 강남구 개포동,월세,53.99,28000,20,2013.0,2016-02-19,,장원,5.0,...,37.548566265313895127.130212056093,2.0,0.0,0.0,1.0,0.0,0.0,6.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503833,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,34.98,11000,0,1997.0,2018-03-31,중랑천로36길 5-4,진주빌라,1.0,...,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
503834,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,36.54,10000,0,1997.0,2016-09-24,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
503835,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,12000,0,1997.0,2018-03-23,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
503836,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2018-11-17,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
503837,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2019-01-31,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0

In [70]:
data4.isnull().sum()

address              0
rent                 0
size                 0
deposit              0
pay                  0
year                14
contract             0
road                 0
name                 5
floor             3156
area                 0
recent               0
latitude             0
longitude            0
station_area         0
station_name         0
transfer             0
criteria             0
hos_num              0
mart_num             0
fast_num             0
cafe_num             0
cul_num              0
con_num              0
laun_num         25917
da_num          425862
he_num          121508
dtype: int64

In [71]:
# nan값 0으로 채우기
data4['laun_num'] = data4['laun_num'].fillna(0)
data4['da_num'] = data4['da_num'].fillna(0)
data4['he_num'] = data4['he_num'].fillna(0)

data4.isnull().sum()

address            0
rent               0
size               0
deposit            0
pay                0
year              14
contract           0
road               0
name               5
floor           3156
area               0
recent             0
latitude           0
longitude          0
station_area       0
station_name       0
transfer           0
criteria           0
hos_num            0
mart_num           0
fast_num           0
cafe_num           0
cul_num            0
con_num            0
laun_num           0
da_num             0
he_num             0
dtype: int64

In [72]:
# 00_num 컬럼 -> 정수 type으로 변경
data4['hos_num'] = data4['hos_num'].astype(int)
data4['mart_num'] = data4['mart_num'].astype(int)
data4['fast_num'] = data4['fast_num'].astype(int)
data4['cafe_num'] = data4['cafe_num'].astype(int)
data4['cul_num'] = data4['cul_num'].astype(int)
data4['con_num'] = data4['con_num'].astype(int)
data4['laun_num'] = data4['laun_num'].astype(int)
data4['da_num'] = data4['da_num'].astype(int)
data4['he_num'] = data4['he_num'].astype(int)

In [73]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 503838 entries, 0 to 503837
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   address       503838 non-null  object
 1   rent          503838 non-null  object
 2   size          503838 non-null  float64
 3   deposit       503838 non-null  int64
 4   pay           503838 non-null  int64
 5   year          503824 non-null  float64
 6   contract      503838 non-null  object
 7   road          503838 non-null  object
 8   name          503833 non-null  object
 9   floor         500682 non-null  float64
 10  area          503838 non-null  object
 11  recent        503838 non-null  int64
 12  latitude      503838 non-null  float64
 13  longitude     503838 non-null  float64
 14  station_area  503838 non-null  int64
 15  station_name  503838 non-null  object
 16  transfer      503838 non-null  int64
 17  criteria      503838 non-null  object
 18  hos_num       503838 non-null  int32
 19  mart_num      503838 non-null  int32
 20  fast_num      503838 non-null  int32
 21  cafe_num      503838 non-null  int32
 22  cul_num       503838 non-null  int32
 23  con_num       503838 non-null  int32
 24  laun_num      503838 non-null  int32
 25  da_num        503838 non-null  int32
 26  he_num        503838 non-null  int32
dtypes: float64(5), int32(9), int64(5), object(8)
memory usage: 90.3+ MB

In [74]:
data4

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동,월세,34.22,3000,30,2012.0,2015-10-14,,아름다운집,NaN,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
1,서울특별시 강남구 개포동,월세,39.34,10000,60,2015.0,2015-09-02,,수창스마트빌,2.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
2,서울특별시 강남구 개포동,월세,48.50,3000,53,1988.0,2015-08-17,,영동A,0.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
3,서울특별시 강남구 개포동,월세,48.50,10000,40,1988.0,2016-01-21,,영동B,1.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
4,서울특별시 강남구 개포동,월세,53.99,28000,20,2013.0,2016-02-19,,장원,5.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503833,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,34.98,11000,0,1997.0,2018-03-31,중랑천로36길 5-4,진주빌라,1.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503834,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,36.54,10000,0,1997.0,2016-09-24,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503835,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,12000,0,1997.0,2018-03-23,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503836,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2018-11-17,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503837,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2019-01-31,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1

In [75]:
data4.to_csv('data/villa.csv', index=False, encoding='utf-8')

## he_num -> gym_num

In [79]:
one = pd.read_csv('data/one_two_room.csv')
one

,address,rent,size,deposit,pay,year,contract,road,area,recent,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동 개포로,월세,26.00,1000,80,1988.0,2016-04-20,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
1,서울특별시 강남구 개포동 개포로,전세,100.00,24000,0,1988.0,2016-07-25,개포로,강남구,0,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
2,서울특별시 강남구 개포동 개포로,전세,100.00,25500,0,1988.0,2018-05-06,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
3,서울특별시 강남구 개포동 개포로,전세,32.44,13000,0,NaN,2015-12-17,개포로,강남구,0,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
4,서울특별시 강남구 개포동 개포로,전세,32.44,14500,0,NaN,2018-12-10,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688658,서울특별시 중랑구 중화동 중랑천로36길,전세,43.11,9000,0,1989.0,2016-09-23,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688659,서울특별시 중랑구 중화동 중랑천로36길,전세,47.68,13000,0,1993.0,2020-02-06,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688660,서울특별시 중랑구 중화동 중랑천로36길,전세,48.19,6000,0,1993.0,2019-09-01,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688661,서울특별시 중랑구 중화동 중랑천로36길,전세,50.29,14000,0,1993.0,2020-02-18,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1
688662,서울특별시 중랑구 중화동 중랑천로36길,전세,70.98,14500,0,2018.0,2018-11-02,중랑천로36길,중랑구,1,...,37.6008138615665127.07463250319599,0,0,0,0,0,2,2,0,1

In [81]:
offi = pd.read_csv('data/officetels.csv')
offi

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동 개포로 213,월세,18.80,200,75,2003.0,2015-02-02,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
1,서울특별시 강남구 개포동 개포로 213,월세,18.80,100,70,2003.0,2017-06-10,개포로 213,골든빌오피스텔(1246-3),6,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
2,서울특별시 강남구 개포동 개포로 213,월세,19.08,200,75,2003.0,2015-01-05,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
3,서울특별시 강남구 개포동 개포로 213,월세,23.76,100,80,2003.0,2015-08-20,개포로 213,골든빌오피스텔(1246-3),4,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
4,서울특별시 강남구 개포동 개포로 213,월세,23.76,1000,80,2003.0,2020-07-10,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208942,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10500,0,2012.0,2020-03-11,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208943,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,10000,0,2012.0,2020-04-11,중랑천로14길 58,중화동 범양프레체,3,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208944,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-20,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208945,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,11000,0,2012.0,2020-04-29,중랑천로14길 58,중화동 범양프레체,2,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3
208946,서울특별시 중랑구 중화동 중랑천로14길 58,전세,22.21,12000,0,2012.0,2020-04-30,중랑천로14길 58,중화동 범양프레체,6,...,37.5945315127732127.075917984894,8,1,2,6,1,11,4,1,3

In [82]:
villa = pd.read_csv('data/villa.csv')
villa

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,he_num
0,서울특별시 강남구 개포동,월세,34.22,3000,30,2012.0,2015-10-14,,아름다운집,NaN,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
1,서울특별시 강남구 개포동,월세,39.34,10000,60,2015.0,2015-09-02,,수창스마트빌,2.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
2,서울특별시 강남구 개포동,월세,48.50,3000,53,1988.0,2015-08-17,,영동A,0.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
3,서울특별시 강남구 개포동,월세,48.50,10000,40,1988.0,2016-01-21,,영동B,1.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
4,서울특별시 강남구 개포동,월세,53.99,28000,20,2013.0,2016-02-19,,장원,5.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503833,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,34.98,11000,0,1997.0,2018-03-31,중랑천로36길 5-4,진주빌라,1.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503834,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,36.54,10000,0,1997.0,2016-09-24,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503835,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,12000,0,1997.0,2018-03-23,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503836,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2018-11-17,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1
503837,서울특별시 중랑구 중화동 중랑천로36길 5-4,전세,42.18,13000,0,1997.0,2019-01-31,중랑천로36길 5-4,진주빌라,3.0,...,37.6010403136118127.0747225306,2,0,0,0,0,2,2,0,1

In [87]:
one.rename(columns = {'he_num':'gym_num'}, inplace=True)
one.head()

,address,rent,size,deposit,pay,year,contract,road,area,recent,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,gym_num
0,서울특별시 강남구 개포동 개포로,월세,26.00,1000,80,1988.0,2016-04-20,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
1,서울특별시 강남구 개포동 개포로,전세,100.00,24000,0,1988.0,2016-07-25,개포로,강남구,0,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
2,서울특별시 강남구 개포동 개포로,전세,100.00,25500,0,1988.0,2018-05-06,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
3,서울특별시 강남구 개포동 개포로,전세,32.44,13000,0,NaN,2015-12-17,개포로,강남구,0,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1
4,서울특별시 강남구 개포동 개포로,전세,32.44,14500,0,NaN,2018-12-10,개포로,강남구,1,...,37.476873436935705127.050971077409,1,0,0,1,2,9,4,0,1

In [88]:
villa.rename(columns = {'he_num':'gym_num'}, inplace=True)
villa.head()

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,gym_num
0,서울특별시 강남구 개포동,월세,34.22,3000,30,2012.0,2015-10-14,,아름다운집,NaN,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
1,서울특별시 강남구 개포동,월세,39.34,10000,60,2015.0,2015-09-02,,수창스마트빌,2.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
2,서울특별시 강남구 개포동,월세,48.50,3000,53,1988.0,2015-08-17,,영동A,0.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
3,서울특별시 강남구 개포동,월세,48.50,10000,40,1988.0,2016-01-21,,영동B,1.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4
4,서울특별시 강남구 개포동,월세,53.99,28000,20,2013.0,2016-02-19,,장원,5.0,...,37.548566265313895127.130212056093,2,0,0,1,0,0,6,0,4

In [89]:
offi.rename(columns = {'he_num':'gym_num'}, inplace=True)
offi.head()

,address,rent,size,deposit,pay,year,contract,road,name,floor,...,criteria,hos_num,mart_num,fast_num,cafe_num,cul_num,con_num,laun_num,da_num,gym_num
0,서울특별시 강남구 개포동 개포로 213,월세,18.80,200,75,2003.0,2015-02-02,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
1,서울특별시 강남구 개포동 개포로 213,월세,18.80,100,70,2003.0,2017-06-10,개포로 213,골든빌오피스텔(1246-3),6,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
2,서울특별시 강남구 개포동 개포로 213,월세,19.08,200,75,2003.0,2015-01-05,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
3,서울특별시 강남구 개포동 개포로 213,월세,23.76,100,80,2003.0,2015-08-20,개포로 213,골든빌오피스텔(1246-3),4,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4
4,서울특별시 강남구 개포동 개포로 213,월세,23.76,1000,80,2003.0,2020-07-10,개포로 213,골든빌오피스텔(1246-3),2,...,37.4787447572028127.046112568695,3,0,1,3,2,13,4,0,4

In [90]:
one.to_csv('data/one_two_room.csv', index=False, encoding='utf-8')

In [91]:
villa.to_csv('data/villa.csv', index=False, encoding='utf-8')

In [92]:
offi.to_csv('data/officetels.csv', index=False, encoding='utf-8')