<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

In [30]:
병원 = pd.read_csv('편의시설/300m_병원(중복제거).csv')
print(병원.shape)
병원.head()

(271667, 8)

,경도,위도,장소명,도로명,편의시설_경도,편의시설_위도,주거형태,기준
0,127.050895,37.473561,와세다의원,서울 강남구 논현로 30,127.049100,37.473726,단독다가구,37.4735609971211127.050895232485
1,127.046338,37.477885,유앤이비인후과의원,서울 강남구 논현로 84,127.045277,37.477537,단독다가구,37.4778848357129127.046338152861
2,127.046338,37.477885,양재바른정형외과의원,서울 강남구 개포로 205,127.045110,37.478546,단독다가구,37.4778848357129127.046338152861
3,127.046338,37.477885,강남우리집의원,서울 강남구 개포로 229,127.047769,37.479025,단독다가구,37.4778848357129127.046338152861
4,127.048356,37.477040,서울라이프의원,서울 강남구 개포로22길 46,127.049566,37.476276,단독다가구,37.477039601042127.048356001948

In [31]:
병원 = 병원.drop(['경도','위도'], axis=1)
병원.columns = ['con_name', 'con_address', 'con_longitude', 'con_latitude', 'house_type', 'criteria']
병원.head()

,con_name,con_address,con_longitude,con_latitude,house_type,criteria
0,와세다의원,서울 강남구 논현로 30,127.049100,37.473726,단독다가구,37.4735609971211127.050895232485
1,유앤이비인후과의원,서울 강남구 논현로 84,127.045277,37.477537,단독다가구,37.4778848357129127.046338152861
2,양재바른정형외과의원,서울 강남구 개포로 205,127.045110,37.478546,단독다가구,37.4778848357129127.046338152861
3,강남우리집의원,서울 강남구 개포로 229,127.047769,37.479025,단독다가구,37.4778848357129127.046338152861
4,서울라이프의원,서울 강남구 개포로22길 46,127.049566,37.476276,단독다가구,37.477039601042127.048356001948

In [32]:
병원2 = 병원[['house_type','criteria','con_name','con_address','con_latitude','con_longitude']]
print(병원2.shape)
병원2.head()

(271667, 6)

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독다가구,37.4735609971211127.050895232485,와세다의원,서울 강남구 논현로 30,37.473726,127.049100
1,단독다가구,37.4778848357129127.046338152861,유앤이비인후과의원,서울 강남구 논현로 84,37.477537,127.045277
2,단독다가구,37.4778848357129127.046338152861,양재바른정형외과의원,서울 강남구 개포로 205,37.478546,127.045110
3,단독다가구,37.4778848357129127.046338152861,강남우리집의원,서울 강남구 개포로 229,37.479025,127.047769
4,단독다가구,37.477039601042127.048356001948,서울라이프의원,서울 강남구 개포로22길 46,37.476276,127.049566

In [33]:
병원2.to_csv('편의시설/hospital.csv', index=False)

In [34]:
대형마트 = pd.read_csv('편의시설/300m내_대형마트(중복제거).csv')
print(대형마트.shape)
대형마트.head()

(27536, 8)

,경도,위도,장소명,도로명,편의시설_경도,편의시설_위도,주택형태,기준
0,127.060991,37.483899,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,127.062217,37.482159,단독다가구,37.4838993527963127.060991290466
1,127.060694,37.484075,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,127.062217,37.482159,단독다가구,37.4840747521106127.060693844398
2,127.061118,37.483602,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,127.062217,37.482159,단독다가구,37.4836015938737127.06111847254499
3,127.061983,37.483285,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,127.062217,37.482159,단독다가구,37.4832847996201127.06198259187599
4,127.060078,37.483999,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,127.062217,37.482159,단독다가구,37.4839988417672127.06007757611201

In [35]:
대형마트 = 대형마트.drop(['경도','위도'], axis=1)
대형마트.columns = ['con_name', 'con_address', 'con_longitude', 'con_latitude', 'house_type', 'criteria']
대형마트2 = 대형마트[['house_type','criteria','con_name','con_address','con_latitude','con_longitude']]
print(대형마트2.shape)
대형마트2.head()

(27536, 6)

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독다가구,37.4838993527963127.060991290466,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,37.482159,127.062217
1,단독다가구,37.4840747521106127.060693844398,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,37.482159,127.062217
2,단독다가구,37.4836015938737127.06111847254499,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,37.482159,127.062217
3,단독다가구,37.4832847996201127.06198259187599,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,37.482159,127.062217
4,단독다가구,37.4839988417672127.06007757611201,GS수퍼마켓 개포블레스티지점,서울 강남구 선릉로 8,37.482159,127.062217

In [36]:
대형마트2.to_csv('편의시설/market.csv', index=False)

In [37]:
문화시설 = pd.read_csv('편의시설/300m내_문화시설(중복제거).csv', index_col=0)
print(문화시설.shape)
문화시설.head()

(86772, 8)

,경도,위도,장소명,도로명,편의시설_경도,편의시설_위도,주택형태,기준
0,127.050895,37.473561,한국가곡예술마을 나음아트홀,서울 강남구 논현로10길 28,127.050824,37.474868,단독다가구,37.4735609971211127.050895232485
1,127.050895,37.473561,M극장,서울 강남구 논현로4길 36,127.052948,37.473688,단독다가구,37.4735609971211127.050895232485
2,127.050895,37.473561,엠텐 프로덕션,서울 강남구 논현로8길 59,127.053252,37.475141,단독다가구,37.4735609971211127.050895232485
3,127.046338,37.477885,뮤직플러스아동음악연구회,서울 강남구 개포로20길 24-10,127.047361,37.476985,단독다가구,37.4778848357129127.046338152861
4,127.046338,37.477885,한국인성문화원,서울 서초구 논현로 87,127.044282,37.477548,단독다가구,37.4778848357129127.046338152861

In [38]:
문화시설 = 문화시설.drop(['경도','위도'], axis=1)
문화시설.columns = ['con_name', 'con_address', 'con_longitude', 'con_latitude', 'house_type', 'criteria']
문화시설2 = 문화시설[['house_type','criteria','con_name','con_address','con_latitude','con_longitude']]
print(문화시설2.shape)
문화시설2.head()

(86772, 6)

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독다가구,37.4735609971211127.050895232485,한국가곡예술마을 나음아트홀,서울 강남구 논현로10길 28,37.474868,127.050824
1,단독다가구,37.4735609971211127.050895232485,M극장,서울 강남구 논현로4길 36,37.473688,127.052948
2,단독다가구,37.4735609971211127.050895232485,엠텐 프로덕션,서울 강남구 논현로8길 59,37.475141,127.053252
3,단독다가구,37.4778848357129127.046338152861,뮤직플러스아동음악연구회,서울 강남구 개포로20길 24-10,37.476985,127.047361
4,단독다가구,37.4778848357129127.046338152861,한국인성문화원,서울 서초구 논현로 87,37.477548,127.044282

In [39]:
문화시설2.to_csv('편의시설/culture.csv', index=False)

In [40]:
카페 = pd.read_csv('편의시설/300m내_카페(중복제거).csv', index_col=0)
print(카페.shape)
카페.head()

(120016, 9)

,Unnamed: 0.1,경도,위도,장소명,도로명,편의시설_경도,편의시설_위도,주택형태,기준
0,8,127.050895,37.473561,파스쿠찌 국악고점,서울 강남구 논현로10길 29,127.050571,37.475358,단독다가구,37.4735609971211127.050895232485
1,15,127.046338,37.477885,스타벅스 포이점,서울 강남구 논현로 88,127.045146,37.477822,단독다가구,37.4778848357129127.046338152861
2,18,127.046338,37.477885,할리스커피 포이사거리점,서울 서초구 논현로19길 5,127.045100,37.476604,단독다가구,37.4778848357129127.046338152861
3,22,127.046338,37.477885,이디야커피 포이사거리점,서울 강남구 개포로 218,127.046661,37.478502,단독다가구,37.4778848357129127.046338152861
4,30,127.048356,37.477040,스타벅스 포이점,서울 강남구 논현로 88,127.045146,37.477822,단독다가구,37.477039601042127.048356001948

In [41]:
카페 = 카페.drop(['Unnamed: 0.1','경도','위도'], axis=1)
카페.columns = ['con_name', 'con_address', 'con_longitude', 'con_latitude', 'house_type', 'criteria']
카페2 = 카페[['house_type','criteria','con_name','con_address','con_latitude','con_longitude']]
print(카페2.shape)
카페2.head()

(120016, 6)

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독다가구,37.4735609971211127.050895232485,파스쿠찌 국악고점,서울 강남구 논현로10길 29,37.475358,127.050571
1,단독다가구,37.4778848357129127.046338152861,스타벅스 포이점,서울 강남구 논현로 88,37.477822,127.045146
2,단독다가구,37.4778848357129127.046338152861,할리스커피 포이사거리점,서울 서초구 논현로19길 5,37.476604,127.045100
3,단독다가구,37.4778848357129127.046338152861,이디야커피 포이사거리점,서울 강남구 개포로 218,37.478502,127.046661
4,단독다가구,37.477039601042127.048356001948,스타벅스 포이점,서울 강남구 논현로 88,37.477822,127.045146

In [42]:
카페2.to_csv('편의시설/cafe.csv', index=False)

In [43]:
패스트푸드 = pd.read_csv('편의시설/300m내_패스트푸드(중복제거).csv')
print(패스트푸드.shape)
패스트푸드.head()

(23474, 8)

,경도,위도,장소명,도로명,편의시설_경도,편의시설_위도,주택형태,기준
0,127.060991,37.483899,롯데리아 개포점,서울 강남구 선릉로 26,127.061465,37.482201,단독다가구,37.4838993527963127.060991290466
1,127.060694,37.484075,롯데리아 개포점,서울 강남구 선릉로 26,127.061465,37.482201,단독다가구,37.4840747521106127.060693844398
2,127.045229,37.479780,써브웨이 포이사거리점,서울 강남구 논현로 84,127.045263,37.477526,단독다가구,37.479780087904295127.04522930859699
3,127.046581,37.479855,써브웨이 포이사거리점,서울 강남구 논현로 84,127.045263,37.477526,단독다가구,37.4798545267632127.046580863676
4,127.045831,37.478206,써브웨이 포이사거리점,서울 강남구 논현로 84,127.045263,37.477526,단독다가구,37.4782063336653127.04583050040199

In [44]:
패스트푸드 = 패스트푸드.drop(['경도','위도'], axis=1)
패스트푸드.columns = ['con_name', 'con_address', 'con_longitude', 'con_latitude', 'house_type', 'criteria']
패스트푸드2 = 패스트푸드[['house_type','criteria','con_name','con_address','con_latitude','con_longitude']]
print(패스트푸드2.shape)
패스트푸드2.head()

(23474, 6)

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독다가구,37.4838993527963127.060991290466,롯데리아 개포점,서울 강남구 선릉로 26,37.482201,127.061465
1,단독다가구,37.4840747521106127.060693844398,롯데리아 개포점,서울 강남구 선릉로 26,37.482201,127.061465
2,단독다가구,37.479780087904295127.04522930859699,써브웨이 포이사거리점,서울 강남구 논현로 84,37.477526,127.045263
3,단독다가구,37.4798545267632127.046580863676,써브웨이 포이사거리점,서울 강남구 논현로 84,37.477526,127.045263
4,단독다가구,37.4782063336653127.04583050040199,써브웨이 포이사거리점,서울 강남구 논현로 84,37.477526,127.045263

In [45]:
패스트푸드2.to_csv('편의시설/fastfood.csv', index=False)

In [46]:
편의점 = pd.read_csv('편의시설/300m내_편의점(중복제거).csv')
print(편의점.shape)
편의점.head()

(488640, 8)

,경도,위도,장소명,도로명,편의시설_경도,편의시설_위도,주거형태,기준
0,127.050895,37.473561,GS25 양재구룡점,서울 서초구 논현로5길 18,127.048909,37.472115,단독다가구,37.4735609971211127.050895232485
1,127.050895,37.473561,GS25 개포영광점,서울 강남구 논현로4길 12,127.051224,37.472586,단독다가구,37.4735609971211127.050895232485
2,127.050895,37.473561,GS25 개포타운점,서울 강남구 논현로12길 13,127.049313,37.474735,단독다가구,37.4735609971211127.050895232485
3,127.050895,37.473561,GS25 포이한라점,서울 강남구 논현로4길 43,127.053211,37.474186,단독다가구,37.4735609971211127.050895232485
4,127.050895,37.473561,세븐일레븐 양재구룡점,서울 서초구 논현로11길 10,127.047798,37.473806,단독다가구,37.4735609971211127.050895232485

In [47]:
편의점 = 편의점.drop(['경도','위도'], axis=1)
편의점.columns = ['con_name', 'con_address', 'con_longitude', 'con_latitude', 'house_type', 'criteria']
편의점2 = 편의점[['house_type','criteria','con_name','con_address','con_latitude','con_longitude']]
print(편의점2.shape)
편의점2.head()

(488640, 6)

,house_type,criteria,con_name,con_address,con_latitude,con_longitude
0,단독다가구,37.4735609971211127.050895232485,GS25 양재구룡점,서울 서초구 논현로5길 18,37.472115,127.048909
1,단독다가구,37.4735609971211127.050895232485,GS25 개포영광점,서울 강남구 논현로4길 12,37.472586,127.051224
2,단독다가구,37.4735609971211127.050895232485,GS25 개포타운점,서울 강남구 논현로12길 13,37.474735,127.049313
3,단독다가구,37.4735609971211127.050895232485,GS25 포이한라점,서울 강남구 논현로4길 43,37.474186,127.053211
4,단독다가구,37.4735609971211127.050895232485,세븐일레븐 양재구룡점,서울 서초구 논현로11길 10,37.473806,127.047798

In [48]:
편의점2.to_csv('편의시설/convenience.csv', index=False)